[data-theme="light"] {
  --primary: #E3CAA5;
  --hover: #F3D2AE;
  --contrast: #3B3B3B;
  --contrast-hover: #c4b7a6;
  --main-bg: #FFFBE9;
  --border-color: #1A1A1A;
  --slider-background: #c5c5c5;
  --slider-text-seats-color: #808080;
  --svg-fill: #3B3B3B;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  position: relative;
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: var(--primary);
  font-family: "Reddit Mono", monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 30%;
  margin: 15% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.loadingText {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid var(--primary); /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: .5em;
}

