[data-theme="light1"] {
  --primary: #F3D2AE;
  --hover: #FFF1D9;
  --contrast: #3B3B3B;
  --contrast-hover: #FFF1D9;
  --border-color: #1A1A1A;
  --slider-background: #c5c5c5;
  --slider-text-seats-color: #808080;
  --svg-fill: #000000;
}
[data-theme="light"] {
  --primary: #F4DFC8;
  --hover: #F4EAE0;
  --contrast: #3B3B3B;
  --contrast-hover: #fff;
  --border-color: #1A1A1A;
  --slider-background: #c5c5c5;
  --slider-text-seats-color: #808080;
  --svg-fill: #000000;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 92px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
body { padding-top: 92px; }

option {
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  position: relative;
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: var(--primary);
  font-family: "Reddit Mono", monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 30%;
  margin: 15% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid var(--primary); /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: .5em;
}

.nav-container{
  padding: 16px 0px;
  background: var(--primary);
  position: relative;
}

.main-nav-container{
  display:block;
  padding: 17px 0px;
  background: var(--primary);
  position: absolute;
  top:0;
  right:0;
  left:0;
  overflow:hidden;
  z-index: 1060;
}
.main-nav-container-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

@media (min-width: 992px) {
  #navbar {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #navbar.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -95px;
    transition: transform 0.2s;
    background-color: var(--primary);
    opacity:98%;
  }
  #navbar.is-visible {
    /* if the user changes the scrolling direction, show the header */
    transform: translate3d(0, 100%, 0);
  }
}
.web-name {
  appearance: none;
  background-color: transparent;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
}

.button-contribute {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--contrast);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-contribute:disabled {
  pointer-events: none;
}

.button-contribute:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-contribute:active {
  box-shadow: none;
  transform: translateY(0);
}
.search-input {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--contrast);
  padding: 15px 20px;
  min-height: 50px;
  text-decoration: none;
  cursor: text;
  min-width: 0;
  font-size: 16px;
  outline: none;
  border-right: 2px solid var(--border-color);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.search {
  border-radius: 15px;
}
&:has(.search-input:focus)
  .search {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
&:has(.search-input:focus)
  .search-input {
    background-color: var(--hover)
}
&:has(.search-input:focus)
  .search-button {
    background-color: var(--hover)
}
&:has(.search-input:focus)
  .search-button:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.search{
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;

}
.search-button {
  appearance: none;
  background-color: transparent;
  border-left: 0;
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  color: var(--contrast);
  display: inline-block;
  padding: 15px 20px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  border-right: 2px solid var(--border-color);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.nav__cont {
  position: fixed;
  width: 80px;
  top:0;
  height: 100vh;
  z-index: 2000;
  background-color: var(--primary);
  overflow:hidden;
  transition:width .3s ease;
  &:hover {
    width:260px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background: var(--primary)
  }
  &:hover .filter {
    width:230px;
  }
  &:hover .logo-display {
    width:230px;
  }
  &:hover .pattern-div {
    width:230px;
  }
  &:hover .about-tag {
    width:230px;
  }
  &:hover .h-line {
    transform: translateY(0px);
  }
  &:hover .filter-title {
    width:230px;
    margin-left:65px;
  }
  &:hover .thankful-title {
    width:230px;
    margin-left:45px;
  }
  &:hover .border-show {
    display:none;
  }


  @media screen and (min-width: 80px) {
    width: 80px;
  }
}

.border-show{
  background-image: linear-gradient(var(--border-color), var(--border-color)),
                    linear-gradient(var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-size: 2px 76.5%, calc(100% - 4px) 100%;
  background-position: right 92px, 4px 0;
}
.nav {
  list-style-type: none;
  color:white;
  &:first-child {
    padding-top:0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.filter {
  appearance: none;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 8px;
  min-height: 50px;
  min-width: 0px;
  outline: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow:hidden;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-bottom: 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.filter:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#country-filter {
  appearance:none;
  background-color:transparent;
  height: 46px;
  border: 0;
  padding: 0px 8px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
  cursor: pointer;
}
#country-filter option {
  font-size: 15px;
}
.pattern-div:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.filter-text {
  white-space: nowrap;
  padding-right: 0px;
  padding-left: 15px
}

.h-line {
  width:100%;
  height:2px;
  background: var(--contrast);
  will-change: transform;
  transition: all 300ms;
  margin-top: 10px;

}
.filter-title-text {
  text-decoration: none;
  appearance: none;
  background-color: transparent;
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
  color: var(--contrast);
  cursor: default;
  margin-left: 5px;
}
.logo-display {
  appearance: none;
  background-color: transparent;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 8px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  border-right: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.3s;
  margin-bottom: 10px
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin-bottom: 5px;
  margin-top: 5px;
}
.logo-display:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
&:has(.logo-display:hover)
  .logo {
    fill: var(--contrast-hover)
}
&:has(.logo-display:hover)
  .logo-text {
    color: var(--contrast-hover)
}
.logo-text {
  white-space: nowrap;
  padding-right: 0px;
  padding-left: 15px
}
.filter-title {
  appearance: none;
  background-color: transparent;
  color: var(--contrast);
  padding: 0px 8px;
  min-height: 15x;
  min-width: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 25px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: margin-left 0.3s;
  margin-left: 10px;
  margin-top: 5px;
}
.thankful-title {
  appearance: none;
  background-color: transparent;
  color: var(--contrast);
  padding: 0px 8px;
  min-height: 15x;
  min-width: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 25px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: margin-left 0.3s;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}
.content-wrapper {
  padding: 0px 12px;
  background: var(--primary);
  z-index: 1050;position: relative;
}
.content-div {
  background-color: var(--main-bg);
  min-height: 32.75rem;
  width:100%;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}
.show-border {
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}
.image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border-radius: 15px;
    object-fit: cover;
}
.card-img {
    width: 100%;
    height: 270px;
    border-radius: 15px;
    padding: 10px 10px;
}
.cafe-title {
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 25px;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  z-index:0;
  cursor: pointer;
}
.cafe-location {
  font-family: "Reddit Mono", monospace;
  font-size: 20px;
  color: var(--contrast);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.cafe-card {
  margin-bottom: 30px;
  width: 23rem;
  border-radius: 15px;
  padding: 0 0;
  border: 2px solid var(--border-color);
  color: var(--contrast);
  cursor: pointer;
  background-color: var(--primary);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}


.cafe-card:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.filter .filter-svg {
 width: 30px;
  height: 30px;
}
.error-image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border-radius: 15px;
  object-fit: fill;
}
.error-img-container {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.error-msg {
  appearance: none;
  background-color: transparent;
  font-family: "Reddit Mono", monospace;
  font-size: 30px;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
  margin-bottom:30px;
}
.item.dragging :where(.error-img-container, i) {
  opacity:0;
}
.research-lab {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--contrast);
  cursor: default;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
}
.main-form {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.form-container-1 {
  padding: 30px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}

.form-container-2 {
  padding: 30px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  margin-left: 25px;
  min-width: 270px;
}

.form-container-3 {
  padding: 0px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  margin-left: 50px;
  margin-right: 50px;
  margin-top:0;
  min-width: 270px;
}
.form-field {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--contrast);
  padding: 15px 20px;
  min-height: 50px;
  width: 100%;
  text-decoration: none;
  cursor: text;
  outline: none;
  margin-top:10px;
  margin-bottom: 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

.form-field:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#upload-img {
  opacity: 0;
   position: absolute;
   z-index: -1;
   cursor: default;
}
.upload-area {
  box-sizing: border-box;
  color: var(--contrast);
  height:100%;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  justify-content: evenly;

}
.upload-button {
  display:flex;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  padding: 10px 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.reset-button {
  display:flex;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  text-decoration:none;
  width: 100%;
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  padding: 10px 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.reset-button:disabled {
  pointer-events: none;
}

.upload-button:disabled {
  pointer-events: none;
}
.reset-button:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.upload-button:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
&:has(.upload-button:hover)
  .plus-icon {
    fill: var(--contrast-hover);
}
&:has(.reset-button:hover)
  .reset-icon {
    fill: var(--contrast-hover);
}
.upload-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.reset-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.image-area {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  color: var(--contrast);
  width:100%;
  height:235px;
  margin-bottom: 15px;
  margin-top:10px;
  align-items: center;
  cursor: default;
  padding: 10px;
}
.hide{
  display: none;
  z-index: -1;
}
.range-container {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 10px 20px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.range-container:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.slider-value {
  width:100%;
  display:flex;
  justify-content: space-between;
}
.slider-value-title {
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
}
.double-slider {
  position: relative;
  height:100%;
  width: 100%;
  background-color: transparent;
}
.double-slider-body {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.double-slider-input {
  position: absolute;
  width: 100%;
  background-color: var(--border-color);
  -webkit-appearance: none;
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  z-index:4;
}
.double-slider-input::-webkit-slider-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.double-slider-input::-moz-range-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.double-slider-input::-ms-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.double-slider-input::-webkit-slider-runnable-track
{
  pointer-events: none;
}
.double-slider-track {
  position: relative;
  width:100%;
  height: 10px;
  border-radius: 10px;
  display: flex;
  background-color: var(--slider-background);
  align-items: center;
}
.double-slider-range {
  position: absolute;
  left: 0%;
  right: 21%;
  top: 0;
  bottom: 0;
  background-color: var(--border-color);
  z-index: 2;
  border-radius: 10px;
}
.double-slider-dot{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--border-color);
  z-index: 3;
}
.double-slider-dot-left{
  left: 0%;
  transform: translateX(-50%);
}
.double-slider-dot-right{
  right: 21%;
  transform: translateX(50%);
}
#coffee-price-form {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--contrast);
  padding: 20px 15px;
  min-width: 140px;
  height:100%;
  width: 100%;
  text-decoration: none;
  cursor: text;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;

}
#coffee-price-form:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.dropdown {
  color: var(--border-color);
  background-color:var(--primary);
  border: 2px solid var(--border-color);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  border-right: 0;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
  width:70px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.dropdown:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
*,
*:before,
*:after {
  box-sizing: border-box;

}

.form-control {
 font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  color: var(--contrast);
  display: grid;
  background-color:transparent;
  grid-template-columns: 1em auto;
  padding: 13px 20px;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  gap: 20px;
  width: 100%;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.form-control-hover:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.phone-codes-dropdown {
  color: var(--border-color);
  background-color:var(--primary);
  border: 2px solid var(--border-color);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  border-right: 0;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
  width:65px;
  touch-action: manipulation;
  will-change: transform;
}

&:has(.can-take-calls:hover){
  .phone-codes-dropdown {
    background-color:var(--hover);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  width: 28px;
  height: 28px;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
.can-take-calls {
  border-radius: 15px;
  border: 2px solid var(--border-color);
  height:3.5rem;
  overflow:hidden;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
&:has(.can-take-calls:hover){
  background-color: var(--primary)
}
&:has(.call-checkbox:checked){
  .can-take-calls {
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    height: 100%;
  }
}
.success-msg {
  appearance: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
}
#formRange {
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, var(--slider-background) 40%, var(--slider-background) 40%);
  outline: none;
  border-radius: 15px;
  margin-top: 3px;
  margin-left: 5px;
}
#formRange::-webkit-slider-thumb {
  appearance:none;
  width:20px;
  height:20px;
  background:var(--border-color);
  border-radius: 50%;
  cursor:pointer;
}
#formRange::-moz-range-thumb {
  appearance:none;
  width:20px;
  height:20px;
  background:var(--border-color);
  border-radius: 50%;
  cursor:pointer;
}
.rangeValue {
  appearance: none;
  background-color: transparent;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  color: var(--contrast);
  border: 0;
  width: 30px;
  cursor: default;
  margin-left: 15px;
}
#seatFilter {
  cursor:default;
}
.pattern-div {
 appearance: none;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  align-items: center;
  cursor: pointer;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.3s;
  margin-bottom: 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.pattern-img {
  position:absolute;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pattern.dragging :where(.pattern, i) {
  background-color:var(--primary);
}
.main-footer {
  position:fixed;
  bottom:0;
  background-color: var(--primary);
  padding: 0px 0px;
  background: var(--primary);
  overflow:hidden;
  z-index: 1030;
  height:170px;
  width:100%;
}
.footer-placeholder {
  z-index: 1000;
  height: 170px; /* same as footer height */
}
.footer-main-text{
  padding: 0px 15px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80px;
  font-weight: 1000;
  letter-spacing: -1px;
  white-space: nowrap;
  will-change: transform;
  opacity: 90%;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.footer-bottom{
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
  padding: 5px 10px;
  background-color:var(--contrast-hover);
  border-radius: 8px;
  width:100%;
}
.footer-anchor{
  text-decoration: none;
  color: var(--contrast);
}
.footer-anchor:hover{
 color: blue;
}
.about {
  position: fixed;
  bottom: 0;
}
.about-tag{
  appearance: none;
  background-color: transparent;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 8px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  border-right: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.5s;
  margin-bottom: 10px
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  transition: all 400ms cubic-bezier(.23, 1, 0.32, 1);
  margin-bottom: 5px;
  margin-top: 5px;
}
.about-tag:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.show-cafe-img {
    width: 25rem;
    height: 22rem;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    padding: 10px 10px;
    margin-right: 1.5rem;
}

