[data-theme="light1"] {
  --primary: #F3D2AE;
  --hover: #FFF1D9;
  --contrast: #3B3B3B;
  --contrast-hover: #FFF1D9;
  --border-color: #1A1A1A;
  --slider-background: #c5c5c5;
  --slider-text-seats-color: #808080;
  --svg-fill: #000000;
}
[data-theme="light"] {
  --primary: #F4DFC8;
  --hover: #F4EAE0;
  --contrast: #3B3B3B;
  --contrast-hover: #fff;
  --border-color: #1A1A1A;
  --slider-background: #c5c5c5;
  --slider-text-seats-color: #808080;
  --svg-fill: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}


option {
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
}

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  position: relative;
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: var(--primary);
  font-family: "Reddit Mono", monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 30%;
  margin: 15% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid var(--primary); /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: .5em;
}
.main-nav-container {
  display:grid;
  grid-template-rows: 1fr 0fr;
  padding: 12px;
  background: var(--primary);
  position: absolute;
  top:0;
  right:0;
  left:0;
  overflow:hidden;
  z-index: 1060;
}
.top {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.nav-input {
  display: flex;
  place-content: center;
  gap: 5px;
}
.main-nav-container-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

#navbar {
  transition: background-color 0.2s;
  /* Force Hardware Acceleration in WebKit */
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#navbar.is-fixed {
/* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  transition: transform 0.2s;
  background-color: var(--primary);
}
#navbar.is-visible {
/* if the user changes the scrolling direction, show the header */
  transform: translate3d(0, 100%, 0);
}

.filter-text {
  appearance: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  text-decoration: none;
  margin-left: 5px;
  white-space: wrap;
}

.button-contribute {
  appearance: none;
  display: flex;
  justify-items: start;
  flex-wrap: wrap;
  place-content:center;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  color: var(--contrast);
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  width: 100%;
  min-width: 68px;
  padding: 0px 15px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.contribute-text {
  width: 120px;
}
.contribute-logo {
  width: 60px;
}
#contribute-svg {
  width:25px;
  height: 25px;
}

.button-contribute:disabled {
  pointer-events: none;
}
.button-contribute:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
&:has(.button-contribute:hover)
  .contribute-svg-g {
    fill: var(--contrast-hover);
}

.homeLogo {
  display:flex;
  place-items:center;
  background-color: transparent;
  border-radius:15px;
  border: 2px solid var(--border-color);
}
.homeText {
  appearance: none;
  background-color: transparent;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 5px 5px;
}

.search-input {
  background-color: transparent;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  color: var(--contrast);
  border: 0;
  border-radius: 15px 0px 0px 15px;
  height: 100%;
  width: 200px;
  text-decoration: none;
  cursor: text;
  font-size: 16px;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.search {
  display:flex;
  place-items: center;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  transition:transform .3s ease;
  touch-action: manipulation;
  will-change: transform;
}
&:has(.search-input:focus)
  .search {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
&:has(.search-input:focus)
  .search-input {
}

.nav__cont {
  position: fixed;
  top:0;
  width: 20vw;
  height: 100%;
  z-index: 2000;
  background-color: var(--primary);
  transition:width .3s ease;
  &:hover {
    width:30vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background: var(--primary)
  }
  &:hover .filter {
    width:230px;
  }
  &:hover .logo-display {
    width:230px;
  }
  &:hover .pattern-div {
    width:230px;
  }
  &:hover .about-tag {
    width:230px;
  }
  &:hover .filter-title {
    width:230px;
    margin-left:65px;
  }
  &:hover .thankful-title {
    width:230px;
    margin-left:45px;
  }
}
.border-show{
  background-image: linear-gradient(var(--border-color), var(--border-color)),
                    linear-gradient(var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-size: 2px 76.5%, calc(100% - 4px) 100%;
  background-position: right 92px, 4px 0;
}
.nav {
  list-style-type: none;
  color:white;
  &:first-child {
    padding-top:0px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.filters {
  display:flex;
  background-color: transparent;
  width:100%;
  place-content:space-evenly;
  gap: 5px;
  padding: 5px 5px;
}
.filters-wrapper {
  display: flex;
  width: fit-content;
  place-content: space-evenly;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--primary);
}

.filter {
  display:flex;
  appearance: none;
  place-content: center;
  align-items:center;
  width: 100%;
  background:transparent;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 12px;
}
.filter-svg {
  width: 25px;
  height: 25px;
}

.country-filter {
  display: flex;
  place-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 15px 0px 0px 15px;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  will-change: transform;
}
.country-filter .filter-svg {
  width: 25px;
  height: 25px;
}

#country-filter {
  background-position: center;
  background-color:transparent;
  border: 0;
  width: 100%;
  min-width: 120px;
  height:100%;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 600;
  color: var(--contrast);
  cursor: pointer;
}
#country-filter option {
  font-size: 15px;
  color: var(--contrast);
  background: var(--main-bg);
}

.pattern-div:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.h-line {
  position: relative;
  height:2px;
  width: 100%;
  background-color: var(--contrast);
  will-change: transform;
  transition: all 300ms;
}
.filter-title-text {
  text-decoration: none;
  appearance: none;
  background-color: transparent;
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
  color: var(--contrast);
  cursor: default;
}
.logo-display {
  appearance: none;
  background-color: transparent;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 8px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  border-right: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.3s;
  margin-bottom: 10px
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin-bottom: 5px;
  margin-top: 5px;
}
.logo-display:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
&:has(.logo-display:hover)
  .logo {
    fill: var(--contrast-hover)
}
&:has(.logo-display:hover)
  .logo-text {
    color: var(--contrast-hover)
}
.logo-text {
  white-space: nowrap;
  padding-right: 0px;
  padding-left: 15px
}
.filter-title {
  appearance: none;
  background-color: transparent;
  color: var(--contrast);
  padding: 0px 8px;
  min-height: 15x;
  min-width: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 25px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: margin-left 0.3s;
  margin-left: 10px;
  margin-top: 5px;
}
.thankful-title {
  appearance: none;
  background-color: transparent;
  color: var(--contrast);
  padding: 0px 8px;
  min-height: 15x;
  min-width: 0;
  outline: none;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 25px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: margin-left 0.3s;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
}
#contentWrapper {
  min-height: 85vh;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 82px;
  background: var(--primary);
  z-index: 1050;
  position: relative;
}
.content-div {
  background-color: var(--main-bg);
  height: 100%;
  min-height: 85vh;
  width:100%;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}
.cafes-group {
  display:flex;
  flex-wrap: wrap;
  row-gap: 20px;
  place-content: space-evenly;
  margin: 20px 0 20px 0;
}

.form-content-div {
  background-color: var(--main-bg);
  place-items: center;
  height: 100%;
  width:100%;
  padding: 30px 0px;
  border: 2px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.card-img {
  width: 286px;
  height: 216px;
  border-radius: 15px;
}
.cafe-info {

}
.cafe-title {
  display:block;
  width: 286px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 25px;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.cafe-location {
  font-family: "Reddit Mono", monospace;
  font-size: 18px;
  color: var(--contrast);
}
.cafe-country {
  width: max-content;
  font-family: "Reddit Mono", monospace;
  font-size: 18px;
  color: var(--primary);
  background: var(--contrast);
  border-radius: 5px;
  padding: 0px 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.cafe-card {
  gap: 10px;
  padding: 5px 5px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  color: var(--contrast);
  cursor: pointer;
  background-color: var(--primary);
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}
.card-hr {
  margin: 5px;
}
.upper {
}
.middle {
  display:flex;
  flex-wrap: wrap;
  place-content: space-evenly;
}
.middle #price-display {
  display:flex;
  gap: 5px;
  font-family: "Reddit Mono", monospace;
  font-size: 18px;
}
.middle #seats-display {
  display:flex;
  gap: 5px;
  font-family: "Reddit Mono", monospace;
  font-size: 18px;
}
.lower .properties {
  display:flex;
  place-content: space-evenly;
}
.lower .properties .property-tag {
  display:flex;
  place-content: center;
  background-color: #CDB797;
  width:100%;
  border-radius: 10px;
  padding: 2px 2px;
  margin: 0 2px 0 2px;
}
@media (max-width: 1305px) {

}
@media (max-width: 1215px) {

}
@media (max-width: 1125px) {

}
@media (max-width: 1035px) {

}

.cafe-card:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.error-image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border-radius: 15px;
  object-fit: fill;
}
.error-img-container {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.error-msg {
  appearance: none;
  background-color: transparent;
  font-family: "Reddit Mono", monospace;
  font-size: 30px;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
  margin-bottom:30px;
}
.item.dragging :where(.error-img-container, i) {
  opacity:0;
}
.research-lab {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--contrast);
  cursor: default;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 50px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
}
.main-form {
  display:grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 25px;
}
.form-container-1 {
  display:grid;
  grid-template-columns: 1fr 2fr;
  max-width: 70vw;
  gap: 15px;
  padding: 30px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
}
.form-container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 30px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  width: 70vw;
}
.form-container-3 {
  display: grid;
  grid-template-areas:
    "wifi outlets toilets"
    "calls calls calls";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 30px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  width: 70vw;
  transition: height 0.3s;
}
.form-container-4 {
  display:flex;
  place-content: space-evenly;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  width: 70vw;
}
.form-container-5 {
  padding: 0px 30px;
  border-radius: 15px;
  border: 2px solid var(--border-color);
  cursor: default;
  background-color: var(--primary);
  margin-left: 50px;
  margin-right: 50px;
  margin-top:0;
  min-width: 270px;
}
@media (max-width: 1130px) {
  .form-container-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-container-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-container-3 {
    grid-template-columns: 1fr;
    grid-template-areas:
    "wifi"
    "outlets"
    "toilets"
    "calls";
  }
  .can-take-calls-wrapper {
    grid-column-start: 0;
    grid-column-end: 0;
  }
  .can-take-calls {
    width: 100%;
  }
}
.form-field {
  display:flex;
  place-content:start;
  align-items:center;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--contrast);
  padding: 15px 15px;
  min-height: 50px;
  width: 100%;
  text-decoration: none;
  cursor: text;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

.form-field:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
#upload-img {
  position: absolute;
  z-index: -1;
  cursor: default;
}
.upload-area {
  display:flex;
  place-content: center;
  align-items: center;
  color: var(--contrast);
  height:100%;
  width: 100%;
  text-decoration: none;
  outline: none;
}
.form-area {
  display:grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1.5fr;
  color: var(--contrast);
  text-decoration: none;
  outline: none;
  cursor: default;
}
.upload-button {
  display:flex;
  place-content: center;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  padding: 10px 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.reset-button {
  display:flex;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  text-decoration:none;
  width: 100%;
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  padding: 10px 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}
.reset-button:disabled {
  pointer-events: none;
}

.upload-button:disabled {
  pointer-events: none;
}
.reset-button:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.upload-button:hover {
  color: var(--contrast-hover);
  background-color: var(--contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
&:has(.upload-button:hover)
  .plus-icon {
    fill: var(--contrast-hover);
}
&:has(.reset-button:hover)
  .reset-icon {
    fill: var(--contrast-hover);
}
.upload-button:active {
  box-shadow: none;
  transform: translateY(0);
}
.reset-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.primary-image-area {
  display:flex;
  place-content: center;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  height: 250px;
  width: 300px;
  color: var(--contrast);
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.primary-image-area:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.primary-image-svg {
  width: 50px;
  height: 50px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
&:has(.primary-image-area:hover)
  primary-image-svg {
    width: 60px;
    height: 60px;
  };

.primary-image-area {
  display:flex;
  place-content: center;
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  height: 250px;
  width: 300px;
  color: var(--contrast);
  align-items: center;
  cursor: pointer;
  padding: 5px 5px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
.primary-image-area:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.primary-image-svg {
  width: 50px;
  height: 50px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
&:has(.primary-image-area:hover)
  .primary-image-svg {
    width: 60px;
    height: 60px;
  }

.range-container {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  padding: 10px 20px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.range-container:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.slider-value {
  display:flex;
  place-content: center;
}
.slider-value-title {
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  width:100%;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider {
  position: relative;
  width: 100%;
  background-color: transparent;
}
.slider-title {
  color: var(--contrast);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider-body {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-input {
  position: absolute;
  width: 100%;
  background-color: var(--border-color);
  -webkit-appearance: none;
  pointer-events: none;
  cursor: pointer;
  opacity: 0;
  z-index:4;
}
.slider-input::-webkit-slider-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.slider-input::-moz-range-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.slider-input::-ms-thumb
{
  pointer-events:all;
  width:20px;
  height:20px;
  appearance:none;
  -webkit-appearance:none;
  display:block;
  background-color: red;
}
.slider-input::-webkit-slider-runnable-track
{
  pointer-events: none;
}
.slider-track {
  position: relative;
  width:100%;
  height: 10px;
  border-radius: 10px;
  display: flex;
  background-color: var(--slider-background);
  align-items: center;
}
.slider-range {
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  background-color: var(--border-color);
  z-index: 2;
  border-radius: 10px;
}
.slider-dot{
  position: relative;
  left: 0%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--border-color);
  z-index: 3;
  transform: translateX(-50%);
}
#coffee-price-form {
  background-color: transparent;
  border: 2px solid var(--border-color);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  color: var(--contrast);
  padding: 20px 15px;
  min-width: 140px;
  height:100%;
  width: 100%;
  text-decoration: none;
  cursor: text;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
#coffee-price-form:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
#currency {
  color: var(--border-color);
  background-color:var(--primary);
  border: 2px solid var(--border-color);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  border-right: 0;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px 0px 0px 15px;
  width:70px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
#currency:focus {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
*,
*:before,
*:after {
  box-sizing: border-box;

}

.form-control {
  display:flex;
  width: 100%;
  gap: 10px;
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  color: var(--contrast);
  background-color:transparent;
  padding: 15px 20px;
  border: 2px solid var(--border-color);
  border-radius: 15px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.form-control-hover:hover {
  background-color: var(--hover);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.phone-codes-dropdown {
  color: var(--border-color);
  background-color:var(--primary);
  border: 2px solid var(--border-color);
  font-family:Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  border-right: 0;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
  width:65px;
  touch-action: manipulation;
  will-change: transform;
}

&:has(.can-take-calls:hover){
  .phone-codes-dropdown {
    background-color:var(--hover);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display:grid;
  place-content:center;
  font: inherit;
  width: 28px;
  height: 28px;
  border: 3px solid var(--border-color);
  border-radius: 8px;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: center;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
.can-take-calls {
  border-radius: 15px;
  border: 2px solid var(--border-color);
  height:62px;
  overflow:hidden;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
&:has(.can-take-calls:hover){
  background-color: var(--primary)
}
&:has(.call-checkbox:checked){
  .can-take-calls {
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    height: 100%;
  }
}
.can-take-calls-wrapper {
  place-items:center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}
.success-msg {
  appearance: none;
  background-color: transparent;
  font-weight: 600;
  color: var(--contrast);
  text-decoration: none;
}
#formRange {
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, var(--slider-background) 40%, var(--slider-background) 40%);
  outline: none;
  border-radius: 15px;
  margin-top: 3px;
  margin-left: 5px;
}
#formRange::-webkit-slider-thumb {
  appearance:none;
  width:20px;
  height:20px;
  background:var(--border-color);
  border-radius: 50%;
  cursor:pointer;
}
#formRange::-moz-range-thumb {
  appearance:none;
  width:20px;
  height:20px;
  background:var(--border-color);
  border-radius: 50%;
  cursor:pointer;
}
.rangeValue {
  appearance: none;
  background-color: transparent;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  color: var(--contrast);
  border: 0;
  width: 30px;
  cursor: default;
  margin-left: 15px;
}
#seatFilter {
  cursor:default;
}
.pattern-div {
 appearance: none;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  align-items: center;
  cursor: pointer;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.3s;
  margin-bottom: 10px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}
.pattern-img {
  position:absolute;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pattern.dragging :where(.pattern, i) {
  background-color:var(--primary);
}
.main-footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background-color: var(--primary);
  background: var(--primary);
  overflow:hidden;
  z-index: 1030;
  height:170px;
  width:100%;
}
.footer-placeholder {
  z-index: 1000;
  height: 170px; /* same as footer height */
}
.footer-main-text{
  padding: 0px 15px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 80px;
  font-weight: 1000;
  letter-spacing: -1px;
  white-space: nowrap;
  will-change: transform;
  opacity: 90%;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.footer-bottom{
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
  font-family: "Reddit Mono", monospace;
  font-size: 15px;
  padding: 5px 10px;
  background-color:var(--contrast-hover);
  border-radius: 8px;
  width:100%;
}
.footer-anchor{
  text-decoration: none;
  color: var(--contrast);
}
.footer-anchor:hover{
 color: blue;
}
.about {
  position: fixed;
  bottom: 0;
}
.about-tag{
  appearance: none;
  background-color: transparent;
  border-left: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0px 8px;
  min-height: 50px;
  min-width: 0;
  outline: none;
  border-right: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto;
  width: 50px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.3s;
  transition: width 0.5s;
  margin-bottom: 10px
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  transition: all 400ms cubic-bezier(.23, 1, 0.32, 1);
  margin-bottom: 5px;
  margin-top: 5px;
}
.about-tag:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.show-cafe-img {
    width: 25rem;
    height: 22rem;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    padding: 10px 10px;
    margin-right: 1.5rem;
}

