<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
        {{ bootstrap.load_css() }}
    <link
            href="{{ url_for('static', filename='assets/light-mode-logo.png') }}"
            rel="icon"
            type="image/x-icon"
            media="(prefers-color-scheme: light)"
    />
    <link
            href="{{ url_for('static', filename='assets/dark-mode-logo.png') }}"
            rel="icon"
            type="image/x-icon"
            media="(prefers-color-scheme: dark)"
    />

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
        href="{{ url_for('static', filename='css/nav-and-footer-styling.css') }}"
        rel="stylesheet"
    />
    {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "footer.html" %}
{% block scripts %}{% endblock %}
</body>
</html>
