{% include "side-bar.html" %}
<main style="margin-left: 80px;">
    <nav class="navbar main-nav-container" id="navbar">
        <div class="container-fluid">
            <div class="research-lab">
                Cafe Details
            </div>
        </div>
    </nav>
    <div class='content-div show-border' style="height:100%;">
        <div class="d-flex flex-row" style="border: 2px solid var(--border-color); border-radius: 15px; align-items: center; background-color:var(--primary); margin: 1rem 2rem; padding: 1.5rem 1.5rem;">
            <div class="show-cafe-img">
                <img crossorigin="anonymous" class='image' src="data:;base64,{{ cafe_img }}">
            </div>
            <div class="d-flex flex-column">
                <span style='color:var(--contrast);
                            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                            line-height: 0.9; font-size: 50px; font-weight: 600;'>
                    {{ requested_cafe.name }}
                </span>
                <span style='margin-top: 1rem; font-family: "Reddit Mono", monospace; font-size: 30px; color: var(--contrast);'>
                    {{ requested_cafe.location }}
                </span>
            </div>
        </div>
    </div>
</main>
