{% macro country_lists(version) %}
{% if version == "country_name" %}
<option data-display="AF" value="Afghanistan">Afghanistan</option>
<option data-display="AX" value="Aland Islands">Aland Islands</option>
<option data-display="AL" value="Albania">Albania</option>
<option data-display="DZ" value="Algeria">Algeria</option>
<option data-display="AS" value="AmericanSamoa">AmericanSamoa</option>
<option data-display="AD" value="Andorra">Andorra</option>
<option data-display="AO" value="Angola">Angola</option>
<option data-display="AI" value="Anguilla">Anguilla</option>
<option data-display="AQ" value="Antarctica">Antarctica</option>
<option data-display="AG" value="Antigua and Barbuda">Antigua and Barbuda</option>
<option data-display="AR" value="Argentina">Argentina</option>
<option data-display="AM" value="Armenia">Armenia</option>
<option data-display="AW" value="Aruba">Aruba</option>
<option data-display="AU" value="Australia">Australia</option>
<option data-display="AT" value="Austria">Austria</option>
<option data-display="AZ" value="Azerbaijan">Azerbaijan</option>
<option data-display="BS" value="Bahamas">Bahamas</option>
<option data-display="BH" value="Bahrain">Bahrain</option>
<option data-display="BD" value="Bangladesh">Bangladesh</option>
<option data-display="BB" value="Barbados">Barbados</option>
<option data-display="BY" value="Belarus">Belarus</option>
<option data-display="BE" value="Belgium">Belgium</option>
<option data-display="BZ" value="Belize">Belize</option>
<option data-display="BJ" value="Benin">Benin</option>
<option data-display="BM" value="Bermuda">Bermuda</option>
<option data-display="BT" value="Bhutan">Bhutan</option>
<option data-display="BO" value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
<option data-display="BA" value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option data-display="BW" value="Botswana">Botswana</option>
<option data-display="BR" value="Brazil">Brazil</option>
<option data-display="IO" value="British Indian Ocean Territory">British Indian Ocean Territory</option>
<option data-display="BN" value="Brunei Darussalam">Brunei Darussalam</option>
<option data-display="BG" value="Bulgaria">Bulgaria</option>
<option data-display="BF" value="Burkina Faso">Burkina Faso</option>
<option data-display="BI" value="Burundi">Burundi</option>
<option data-display="KH" value="Cambodia">Cambodia</option>
<option data-display="CM" value="Cameroon">Cameroon</option>
<option data-display="CA" value="Canada">Canada</option>
<option data-display="CV" value="Cape Verde">Cape Verde</option>
<option data-display="KY" value="Cayman Islands">Cayman Islands</option>
<option data-display="CF" value="Central African Republic">Central African Republic</option>
<option data-display="TD" value="Chad">Chad</option>
<option data-display="CL" value="Chile">Chile</option>
<option data-display="CN" value="China">China</option>
<option data-display="CX" value="Christmas Island">Christmas Island</option>
<option data-display="CC" value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
<option data-display="CO" value="Colombia">Colombia</option>
<option data-display="KM" value="Comoros">Comoros</option>
<option data-display="CG" value="Congo">Congo</option>
<option data-display="CD" value="Congo, The Democratic Republic of the Congo">Congo, The Democratic Republic of the
    Congo
</option>
<option data-display="CK" value="Cook Islands">Cook Islands</option>
<option data-display="CR" value="Costa Rica">Costa Rica</option>
<option data-display="CI" value="Cote d'Ivoire">Cote d'Ivoire</option>
<option data-display="HR" value="Croatia">Croatia</option>
<option data-display="CU" value="Cuba">Cuba</option>
<option data-display="CY" value="Cyprus">Cyprus</option>
<option data-display="CZ" value="Czech Republic">Czech Republic</option>
<option data-display="DK" value="Denmark">Denmark</option>
<option data-display="DJ" value="Djibouti">Djibouti</option>
<option data-display="DM" value="Dominica">Dominica</option>
<option data-display="DO" value="Dominican Republic">Dominican Republic</option>
<option data-display="EC" value="Ecuador">Ecuador</option>
<option data-display="EG" value="Egypt">Egypt</option>
<option data-display="SV" value="El Salvador">El Salvador</option>
<option data-display="GQ" value="Equatorial Guinea">Equatorial Guinea</option>
<option data-display="ER" value="Eritrea">Eritrea</option>
<option data-display="EE" value="Estonia">Estonia</option>
<option data-display="ET" value="Ethiopia">Ethiopia</option>
<option data-display="FK" value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
<option data-display="FO" value="Faroe Islands">Faroe Islands</option>
<option data-display="FJ" value="Fiji">Fiji</option>
<option data-display="FI" value="Finland">Finland</option>
<option data-display="FR" value="France">France</option>
<option data-display="GF" value="French Guiana">French Guiana</option>
<option data-display="PF" value="French Polynesia">French Polynesia</option>
<option data-display="GA" value="Gabon">Gabon</option>
<option data-display="GM" value="Gambia">Gambia</option>
<option data-display="GE" value="Georgia">Georgia</option>
<option data-display="DE" value="Germany">Germany</option>
<option data-display="GH" value="Ghana">Ghana</option>
<option data-display="GI" value="Gibraltar">Gibraltar</option>
<option data-display="GR" value="Greece">Greece</option>
<option data-display="GL" value="Greenland">Greenland</option>
<option data-display="GD" value="Grenada">Grenada</option>
<option data-display="GP" value="Guadeloupe">Guadeloupe</option>
<option data-display="GU" value="Guam">Guam</option>
<option data-display="GT" value="Guatemala">Guatemala</option>
<option data-display="GG" value="Guernsey">Guernsey</option>
<option data-display="GN" value="Guinea">Guinea</option>
<option data-display="GW" value="Guinea-Bissau">Guinea-Bissau</option>
<option data-display="GY" value="Guyana">Guyana</option>
<option data-display="HT" value="Haiti">Haiti</option>
<option data-display="VA" value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
<option data-display="HN" value="Honduras">Honduras</option>
<option data-display="HK" value="Hong Kong">Hong Kong</option>
<option data-display="HU" value="Hungary">Hungary</option>
<option data-display="IS" value="Iceland">Iceland</option>
<option data-display="IN" value="India">India</option>
<option data-display="ID" value="Indonesia">Indonesia</option>
<option data-display="IR" value="Iran, Islamic Republic of Persian Gulf">Iran, Islamic Republic of Persian Gulf</option>
<option data-display="IQ" value="Iraq">Iraq</option>
<option data-display="IE" value="Ireland">Ireland</option>
<option data-display="IM" value="Isle of Man">Isle of Man</option>
<option data-display="IL" value="Israel">Israel</option>
<option data-display="IT" value="Italy">Italy</option>
<option data-display="JM" value="Jamaica">Jamaica</option>
<option data-display="JP" value="Japan">Japan</option>
<option data-display="JE" value="Jersey">Jersey</option>
<option data-display="JO" value="Jordan">Jordan</option>
<option data-display="KZ" value="Kazakhstan">Kazakhstan</option>
<option data-display="KE" value="Kenya">Kenya</option>
<option data-display="KI" value="Kiribati">Kiribati</option>
<option data-display="KP" value="Korea, Democratic People's Republic of Korea">Korea, Democratic People's Republic of
    Korea
</option>
<option data-display="KR" value="Korea, Republic of South Korea">Korea, Republic of South Korea</option>
<option data-display="KW" value="Kuwait">Kuwait</option>
<option data-display="KG" value="Kyrgyzstan">Kyrgyzstan</option>
<option data-display="LA" value="Laos">Laos</option>
<option data-display="LV" value="Latvia">Latvia</option>
<option data-display="LB" value="Lebanon">Lebanon</option>
<option data-display="LS" value="Lesotho">Lesotho</option>
<option data-display="LR" value="Liberia">Liberia</option>
<option data-display="LY" value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
<option data-display="LI" value="Liechtenstein">Liechtenstein</option>
<option data-display="LT" value="Lithuania">Lithuania</option>
<option data-display="LU" value="Luxembourg">Luxembourg</option>
<option data-display="MO" value="Macao">Macao</option>
<option data-display="MK" value="Macedonia">Macedonia</option>
<option data-display="MG" value="Madagascar">Madagascar</option>
<option data-display="MW" value="Malawi">Malawi</option>
<option data-display="MY" value="Malaysia">Malaysia</option>
<option data-display="MV" value="Maldives">Maldives</option>
<option data-display="ML" value="Mali">Mali</option>
<option data-display="MT" value="Malta">Malta</option>
<option data-display="MH" value="Marshall Islands">Marshall Islands</option>
<option data-display="MQ" value="Martinique">Martinique</option>
<option data-display="MR" value="Mauritania">Mauritania</option>
<option data-display="MU" value="Mauritius">Mauritius</option>
<option data-display="YT" value="Mayotte">Mayotte</option>
<option data-display="MX" value="Mexico">Mexico</option>
<option data-display="FM" value="Micronesia, Federated States of Micronesia">Micronesia, Federated States of
    Micronesia
</option>
<option data-display="MD" value="Moldova">Moldova</option>
<option data-display="MC" value="Monaco">Monaco</option>
<option data-display="MN" value="Mongolia">Mongolia</option>
<option data-display="ME" value="Montenegro">Montenegro</option>
<option data-display="MS" value="Montserrat">Montserrat</option>
<option data-display="MA" value="Morocco">Morocco</option>
<option data-display="MZ" value="Mozambique">Mozambique</option>
<option data-display="MM" value="Myanmar">Myanmar</option>
<option data-display="NA" value="Namibia">Namibia</option>
<option data-display="NR" value="Nauru">Nauru</option>
<option data-display="NP" value="Nepal">Nepal</option>
<option data-display="NL" value="Netherlands">Netherlands</option>
<option data-display="AN" value="Netherlands Antilles">Netherlands Antilles</option>
<option data-display="NC" value="New Caledonia">New Caledonia</option>
<option data-display="NZ" value="New Zealand">New Zealand</option>
<option data-display="NI" value="Nicaragua">Nicaragua</option>
<option data-display="NE" value="Niger">Niger</option>
<option data-display="NG" value="Nigeria">Nigeria</option>
<option data-display="NU" value="Niue">Niue</option>
<option data-display="NF" value="Norfolk Island">Norfolk Island</option>
<option data-display="MP" value="Northern Mariana Islands">Northern Mariana Islands</option>
<option data-display="NO" value="Norway">Norway</option>
<option data-display="OM" value="Oman">Oman</option>
<option data-display="PK" value="Pakistan">Pakistan</option>
<option data-display="PW" value="Palau">Palau</option>
<option data-display="PS" value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
<option data-display="PA" value="Panama">Panama</option>
<option data-display="PG" value="Papua New Guinea">Papua New Guinea</option>
<option data-display="PY" value="Paraguay">Paraguay</option>
<option data-display="PE" value="Peru">Peru</option>
<option data-display="PH" value="Philippines">Philippines</option>
<option data-display="PN" value="Pitcairn">Pitcairn</option>
<option data-display="PL" value="Poland">Poland</option>
<option data-display="PT" value="Portugal">Portugal</option>
<option data-display="PR" value="Puerto Rico">Puerto Rico</option>
<option data-display="QA" value="Qatar">Qatar</option>
<option data-display="RO" value="Romania">Romania</option>
<option data-display="RU" value="Russia">Russia</option>
<option data-display="RW" value="Rwanda">Rwanda</option>
<option data-display="RE" value="Reunion">Reunion</option>
<option data-display="BL" value="Saint Barthelemy">Saint Barthelemy</option>
<option data-display="SH" value="Saint Helena, Ascension and Tristan Da Cunha">Saint Helena, Ascension and Tristan Da
    Cunha
</option>
<option data-display="KN" value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option data-display="LC" value="Saint Lucia">Saint Lucia</option>
<option data-display="MF" value="Saint Martin">Saint Martin</option>
<option data-display="PM" value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
<option data-display="VC" value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option data-display="WS" value="Samoa">Samoa</option>
<option data-display="SM" value="San Marino">San Marino</option>
<option data-display="ST" value="Sao Tome and Principe">Sao Tome and Principe</option>
<option data-display="SA" value="Saudi Arabia">Saudi Arabia</option>
<option data-display="SN" value="Senegal">Senegal</option>
<option data-display="RS" value="Serbia">Serbia</option>
<option data-display="SC" value="Seychelles">Seychelles</option>
<option data-display="SL" value="Sierra Leone">Sierra Leone</option>
<option data-display="SG" value="Singapore">Singapore</option>
<option data-display="SK" value="Slovakia">Slovakia</option>
<option data-display="SI" value="Slovenia">Slovenia</option>
<option data-display="SB" value="Solomon Islands">Solomon Islands</option>
<option data-display="SO" value="Somalia">Somalia</option>
<option data-display="ZA" value="South Africa">South Africa</option>
<option data-display="SS" value="South Sudan">South Sudan</option>
<option data-display="GS" value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich
    Islands
</option>
<option data-display="ES" value="Spain">Spain</option>
<option data-display="LK" value="Sri Lanka">Sri Lanka</option>
<option data-display="SD" value="Sudan">Sudan</option>
<option data-display="SR" value="Suriname">Suriname</option>
<option data-display="SJ" value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
<option data-display="SZ" value="Swaziland">Swaziland</option>
<option data-display="SE" value="Sweden">Sweden</option>
<option data-display="CH" value="Switzerland">Switzerland</option>
<option data-display="SY" value="Syrian Arab Republic">Syrian Arab Republic</option>
<option data-display="TW" value="Taiwan">Taiwan</option>
<option data-display="TJ" value="Tajikistan">Tajikistan</option>
<option data-display="TZ" value="Tanzania, United Republic of Tanzania">Tanzania, United Republic of Tanzania</option>
<option data-display="TH" value="Thailand">Thailand</option>
<option data-display="TL" value="Timor-Leste">Timor-Leste</option>
<option data-display="TG" value="Togo">Togo</option>
<option data-display="TK" value="Tokelau">Tokelau</option>
<option data-display="TO" value="Tonga">Tonga</option>
<option data-display="TT" value="Trinidad and Tobago">Trinidad and Tobago</option>
<option data-display="TN" value="Tunisia">Tunisia</option>
<option data-display="TR" value="Turkey">Turkey</option>
<option data-display="TM" value="Turkmenistan">Turkmenistan</option>
<option data-display="TC" value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option data-display="TV" value="Tuvalu">Tuvalu</option>
<option data-display="UG" value="Uganda">Uganda</option>
<option data-display="UA" value="Ukraine">Ukraine</option>
<option data-display="AE" value="United Arab Emirates">United Arab Emirates</option>
<option data-display="GB" value="United Kingdom">United Kingdom</option>
<option data-display="US" value="United States">United States</option>
<option data-display="UY" value="Uruguay">Uruguay</option>
<option data-display="UZ" value="Uzbekistan">Uzbekistan</option>
<option data-display="VU" value="Vanuatu">Vanuatu</option>
<option data-display="VE" value="Venezuela, Bolivarian Republic of Venezuela">Venezuela, Bolivarian Republic of
    Venezuela
</option>
<option data-display="VN" value="Vietnam">Vietnam</option>
<option data-display="VG" value="Virgin Islands, British">Virgin Islands, British</option>
<option data-display="VI" value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
<option data-display="WF" value="Wallis and Futuna">Wallis and Futuna</option>
<option data-display="YE" value="Yemen">Yemen</option>
<option data-display="ZM" value="Zambia">Zambia</option>
<option data-display="ZW" value="Zimbabwe">Zimbabwe</option>
{% elif version == "country_ph_no" %}
<option id="Afghanistan" data-display="+93" value="AF (+93)">AF (+93)</option>
<option id="Aland Islands" data-display="+358" value="AX (+358)">AX (+358)</option>
<option id="Albania" data-display="+355" value="AL (+355)">AL (+355)</option>
<option id="Algeria" data-display="+213" value="DZ (+213)">DZ (+213)</option>
<option id="AmericanSamoa" data-display="+1684" value="AS (+1684)">AS (+1684)</option>
<option id="Andorra" data-display="+376" value="AD (+376)">AD (+376)</option>
<option id="Angola" data-display="+244" value="AO (+244)">AO (+244)</option>
<option id="Anguilla" data-display="+1264" value="AI (+1264)">AI (+1264)</option>
<option id="Antarctica" data-display="+672" value="AQ (+672)">AQ (+672)</option>
<option id="Antigua and Barbuda" data-display="+1268" value="AG (+1268)">AG (+1268)</option>
<option id="Argentina" data-display="+54" value="AR (+54)">AR (+54)</option>
<option id="Armenia" data-display="+374" value="AM (+374)">AM (+374)</option>
<option id="Aruba" data-display="+297" value="AW (+297)">AW (+297)</option>
<option id="Australia" data-display="+61" value="AU (+61)">AU (+61)</option>
<option id="Austria" data-display="+43" value="AT (+43)">AT (+43)</option>
<option id="Azerbaijan" data-display="+994" value="AZ (+994)">AZ (+994)</option>
<option id="Bahamas" data-display="+1242" value="BS (+1242)">BS (+1242)</option>
<option id="Bahrain" data-display="+973" value="BH (+973)">BH (+973)</option>
<option id="Bangladesh" data-display="+880" value="BD (+880)">BD (+880)</option>
<option id="Barbados" data-display="+1246" value="BB (+1246)">BB (+1246)</option>
<option id="Belarus" data-display="+375" value="BY (+375)">BY (+375)</option>
<option id="Belgium" data-display="+32" value="BE (+32)">BE (+32)</option>
<option id="Belize" data-display="+501" value="BZ (+501)">BZ (+501)</option>
<option id="Benin" data-display="+229" value="BJ (+229)">BJ (+229)</option>
<option id="Bermuda" data-display="+1441" value="BM (+1441)">BM (+1441)</option>
<option id="Bhutan" data-display="+975" value="BT (+975)">BT (+975)</option>
<option id="Bolivia, Plurinational State of" data-display="+591" value="BO (+591)">BO (+591)</option>
<option id="Bosnia and Herzegovina" data-display="+387" value="BA (+387)">BA (+387)</option>
<option id="Botswana" data-display="+267" value="BW (+267)">BW (+267)</option>
<option id="Brazil" data-display="+55" value="BR (+55)">BR (+55)</option>
<option id="British Indian Ocean Territory" data-display="+246" value="IO (+246)">IO (+246)</option>
<option id="Brunei Darussalam" data-display="+673" value="BN (+673)">BN (+673)</option>
<option id="Bulgaria" data-display="+359" value="BG (+359)">BG (+359)</option>
<option id="Burkina Faso" data-display="+226" value="BF (+226)">BF (+226)</option>
<option id="Burundi" data-display="+257" value="BI (+257)">BI (+257)</option>
<option id="Cambodia" data-display="+855" value="KH (+855)">KH (+855)</option>
<option id="Cameroon" data-display="+237" value="CM (+237)">CM (+237)</option>
<option id="Canada" data-display="+1" value="CA (+1)">CA (+1)</option>
<option id="Cape Verde" data-display="+238" value="CV (+238)">CV (+238)</option>
<option id="Cayman Islands" data-display="+ 345" value="KY (+ 345)">KY (+ 345)</option>
<option id="Central African Republic" data-display="+236" value="CF (+236)">CF (+236)</option>
<option id="Chad" data-display="+235" value="TD (+235)">TD (+235)</option>
<option id="Chile" data-display="+56" value="CL (+56)">CL (+56)</option>
<option id="China" data-display="+86" value="CN (+86)">CN (+86)</option>
<option id="Christmas Island" data-display="+61" value="CX (+61)">CX (+61)</option>
<option id="Cocos (Keeling) Islands" data-display="+61" value="CC (+61)">CC (+61)</option>
<option id="Colombia" data-display="+57" value="CO (+57)">CO (+57)</option>
<option id="Comoros" data-display="+269" value="KM (+269)">KM (+269)</option>
<option id="Congo" data-display="+242" value="CG (+242)">CG (+242)</option>
<option id="Congo, The Democratic Republic of the Congo" data-display="+243" value="CD (+243)">CD (+243)</option>
<option id="Cook Islands" data-display="+682" value="CK (+682)">CK (+682)</option>
<option id="Costa Rica" data-display="+506" value="CR (+506)">CR (+506)</option>
<option id="Cote d'Ivoire" data-display="+225" value="CI (+225)">CI (+225)</option>
<option id="Croatia" data-display="+385" value="HR (+385)">HR (+385)</option>
<option id="Cuba" data-display="+53" value="CU (+53)">CU (+53)</option>
<option id="Cyprus" data-display="+357" value="CY (+357)">CY (+357)</option>
<option id="Czech Republic" data-display="+420" value="CZ (+420)">CZ (+420)</option>
<option id="Denmark" data-display="+45" value="DK (+45)">DK (+45)</option>
<option id="Djibouti" data-display="+253" value="DJ (+253)">DJ (+253)</option>
<option id="Dominica" data-display="+1767" value="DM (+1767)">DM (+1767)</option>
<option id="Dominican Republic" data-display="+1849" value="DO (+1849)">DO (+1849)</option>
<option id="Ecuador" data-display="+593" value="EC (+593)">EC (+593)</option>
<option id="Egypt" data-display="+20" value="EG (+20)">EG (+20)</option>
<option id="El Salvador" data-display="+503" value="SV (+503)">SV (+503)</option>
<option id="Equatorial Guinea" data-display="+240" value="GQ (+240)">GQ (+240)</option>
<option id="Eritrea" data-display="+291" value="ER (+291)">ER (+291)</option>
<option id="Estonia" data-display="+372" value="EE (+372)">EE (+372)</option>
<option id="Ethiopia" data-display="+251" value="ET (+251)">ET (+251)</option>
<option id="Falkland Islands (Malvinas)" data-display="+500" value="FK (+500)">FK (+500)</option>
<option id="Faroe Islands" data-display="+298" value="FO (+298)">FO (+298)</option>
<option id="Fiji" data-display="+679" value="FJ (+679)">FJ (+679)</option>
<option id="Finland" data-display="+358" value="FI (+358)">FI (+358)</option>
<option id="France" data-display="+33" value="FR (+33)">FR (+33)</option>
<option id="French Guiana" data-display="+594" value="GF (+594)">GF (+594)</option>
<option id="French Polynesia" data-display="+689" value="PF (+689)">PF (+689)</option>
<option id="Gabon" data-display="+241" value="GA (+241)">GA (+241)</option>
<option id="Gambia" data-display="+220" value="GM (+220)">GM (+220)</option>
<option id="Georgia" data-display="+995" value="GE (+995)">GE (+995)</option>
<option id="Germany" data-display="+49" value="DE (+49)">DE (+49)</option>
<option id="Ghana" data-display="+233" value="GH (+233)">GH (+233)</option>
<option id="Gibraltar" data-display="+350" value="GI (+350)">GI (+350)</option>
<option id="Greece" data-display="+30" value="GR (+30)">GR (+30)</option>
<option id="Greenland" data-display="+299" value="GL (+299)">GL (+299)</option>
<option id="Grenada" data-display="+1473" value="GD (+1473)">GD (+1473)</option>
<option id="Guadeloupe" data-display="+590" value="GP (+590)">GP (+590)</option>
<option id="Guam" data-display="+1671" value="GU (+1671)">GU (+1671)</option>
<option id="Guatemala" data-display="+502" value="GT (+502)">GT (+502)</option>
<option id="Guernsey" data-display="+44" value="GG (+44)">GG (+44)</option>
<option id="Guinea" data-display="+224" value="GN (+224)">GN (+224)</option>
<option id="Guinea-Bissau" data-display="+245" value="GW (+245)">GW (+245)</option>
<option id="Guyana" data-display="+595" value="GY (+595)">GY (+595)</option>
<option id="Haiti" data-display="+509" value="HT (+509)">HT (+509)</option>
<option id="Holy See (Vatican City State)" data-display="+379" value="VA (+379)">VA (+379)</option>
<option id="Honduras" data-display="+504" value="HN (+504)">HN (+504)</option>
<option id="Hong Kong" data-display="+852" value="HK (+852)">HK (+852)</option>
<option id="Hungary" data-display="+36" value="HU (+36)">HU (+36)</option>
<option id="Iceland" data-display="+354" value="IS (+354)">IS (+354)</option>
<option id="India" data-display="+91" value="IN (+91)">IN (+91)</option>
<option id="Indonesia" data-display="+62" value="ID (+62)">ID (+62)</option>
<option id="Iran, Islamic Republic of Persian Gulf" data-display="+98" value="IR (+98)">IR (+98)</option>
<option id="Iraq" data-display="+964" value="IQ (+964)">IQ (+964)</option>
<option id="Ireland" data-display="+353" value="IE (+353)">IE (+353)</option>
<option id="Isle of Man" data-display="+44" value="IM (+44)">IM (+44)</option>
<option id="Israel" data-display="+972" value="IL (+972)">IL (+972)</option>
<option id="Italy" data-display="+39" value="IT (+39)">IT (+39)</option>
<option id="Jamaica" data-display="+1876" value="JM (+1876)">JM (+1876)</option>
<option id="Japan" data-display="+81" value="JP (+81)">JP (+81)</option>
<option id="Jersey" data-display="+44" value="JE (+44)">JE (+44)</option>
<option id="Jordan" data-display="+962" value="JO (+962)">JO (+962)</option>
<option id="Kazakhstan" data-display="+77" value="KZ (+77)">KZ (+77)</option>
<option id="Kenya" data-display="+254" value="KE (+254)">KE (+254)</option>
<option id="Kiribati" data-display="+686" value="KI (+686)">KI (+686)</option>
<option id="Korea, Democratic People's Republic of Korea" data-display="+850" value="KP (+850)">KP (+850)</option>
<option id="Korea, Republic of South Korea" data-display="+82" value="KR (+82)">KR (+82)</option>
<option id="Kuwait" data-display="+965" value="KW (+965)">KW (+965)</option>
<option id="Kyrgyzstan" data-display="+996" value="KG (+996)">KG (+996)</option>
<option id="Laos" data-display="+856" value="LA (+856)">LA (+856)</option>
<option id="Latvia" data-display="+371" value="LV (+371)">LV (+371)</option>
<option id="Lebanon" data-display="+961" value="LB (+961)">LB (+961)</option>
<option id="Lesotho" data-display="+266" value="LS (+266)">LS (+266)</option>
<option id="Liberia" data-display="+231" value="LR (+231)">LR (+231)</option>
<option id="Libyan Arab Jamahiriya" data-display="+218" value="LY (+218)">LY (+218)</option>
<option id="Liechtenstein" data-display="+423" value="LI (+423)">LI (+423)</option>
<option id="Lithuania" data-display="+370" value="LT (+370)">LT (+370)</option>
<option id="Luxembourg" data-display="+352" value="LU (+352)">LU (+352)</option>
<option id="Macao" data-display="+853" value="MO (+853)">MO (+853)</option>
<option id="Macedonia" data-display="+389" value="MK (+389)">MK (+389)</option>
<option id="Madagascar" data-display="+261" value="MG (+261)">MG (+261)</option>
<option id="Malawi" data-display="+265" value="MW (+265)">MW (+265)</option>
<option id="Malaysia" data-display="+60" value="MY (+60)">MY (+60)</option>
<option id="Maldives" data-display="+960" value="MV (+960)">MV (+960)</option>
<option id="Mali" data-display="+223" value="ML (+223)">ML (+223)</option>
<option id="Malta" data-display="+356" value="MT (+356)">MT (+356)</option>
<option id="Marshall Islands" data-display="+692" value="MH (+692)">MH (+692)</option>
<option id="Martinique" data-display="+596" value="MQ (+596)">MQ (+596)</option>
<option id="Mauritania" data-display="+222" value="MR (+222)">MR (+222)</option>
<option id="Mauritius" data-display="+230" value="MU (+230)">MU (+230)</option>
<option id="Mayotte" data-display="+262" value="YT (+262)">YT (+262)</option>
<option id="Mexico" data-display="+52" value="MX (+52)">MX (+52)</option>
<option id="Micronesia, Federated States of Micronesia" data-display="+691" value="FM (+691)">FM (+691)</option>
<option id="Moldova" data-display="+373" value="MD (+373)">MD (+373)</option>
<option id="Monaco" data-display="+377" value="MC (+377)">MC (+377)</option>
<option id="Mongolia" data-display="+976" value="MN (+976)">MN (+976)</option>
<option id="Montenegro" data-display="+382" value="ME (+382)">ME (+382)</option>
<option id="Montserrat" data-display="+1664" value="MS (+1664)">MS (+1664)</option>
<option id="Morocco" data-display="+212" value="MA (+212)">MA (+212)</option>
<option id="Mozambique" data-display="+258" value="MZ (+258)">MZ (+258)</option>
<option id="Myanmar" data-display="+95" value="MM (+95)">MM (+95)</option>
<option id="Namibia" data-display="+264" value="NA (+264)">NA (+264)</option>
<option id="Nauru" data-display="+674" value="NR (+674)">NR (+674)</option>
<option id="Nepal" data-display="+977" value="NP (+977)">NP (+977)</option>
<option id="Netherlands" data-display="+31" value="NL (+31)">NL (+31)</option>
<option id="Netherlands Antilles" data-display="+599" value="AN (+599)">AN (+599)</option>
<option id="New Caledonia" data-display="+687" value="NC (+687)">NC (+687)</option>
<option id="New Zealand" data-display="+64" value="NZ (+64)">NZ (+64)</option>
<option id="Nicaragua" data-display="+505" value="NI (+505)">NI (+505)</option>
<option id="Niger" data-display="+227" value="NE (+227)">NE (+227)</option>
<option id="Nigeria" data-display="+234" value="NG (+234)">NG (+234)</option>
<option id="Niue" data-display="+683" value="NU (+683)">NU (+683)</option>
<option id="Norfolk Island" data-display="+672" value="NF (+672)">NF (+672)</option>
<option id="Northern Mariana Islands" data-display="+1670" value="MP (+1670)">MP (+1670)</option>
<option id="Norway" data-display="+47" value="NO (+47)">NO (+47)</option>
<option id="Oman" data-display="+968" value="OM (+968)">OM (+968)</option>
<option id="Pakistan" data-display="+92" value="PK (+92)">PK (+92)</option>
<option id="Palau" data-display="+680" value="PW (+680)">PW (+680)</option>
<option id="Palestinian Territory, Occupied" data-display="+970" value="PS (+970)">PS (+970)</option>
<option id="Panama" data-display="+507" value="PA (+507)">PA (+507)</option>
<option id="Papua New Guinea" data-display="+675" value="PG (+675)">PG (+675)</option>
<option id="Paraguay" data-display="+595" value="PY (+595)">PY (+595)</option>
<option id="Peru" data-display="+51" value="PE (+51)">PE (+51)</option>
<option id="Philippines" data-display="+63" value="PH (+63)">PH (+63)</option>
<option id="Pitcairn" data-display="+872" value="PN (+872)">PN (+872)</option>
<option id="Poland" data-display="+48" value="PL (+48)">PL (+48)</option>
<option id="Portugal" data-display="+351" value="PT (+351)">PT (+351)</option>
<option id="Puerto Rico" data-display="+1939" value="PR (+1939)">PR (+1939)</option>
<option id="Qatar" data-display="+974" value="QA (+974)">QA (+974)</option>
<option id="Romania" data-display="+40" value="RO (+40)">RO (+40)</option>
<option id="Russia" data-display="+7" value="RU (+7)">RU (+7)</option>
<option id="Rwanda" data-display="+250" value="RW (+250)">RW (+250)</option>
<option id="Reunion" data-display="+262" value="RE (+262)">RE (+262)</option>
<option id="Saint Barthelemy" data-display="+590" value="BL (+590)">BL (+590)</option>
<option id="Saint Helena, Ascension and Tristan Da Cunha" data-display="+290" value="SH (+290)">SH (+290)</option>
<option id="Saint Kitts and Nevis" data-display="+1869" value="KN (+1869)">KN (+1869)</option>
<option id="Saint Lucia" data-display="+1758" value="LC (+1758)">LC (+1758)</option>
<option id="Saint Martin" data-display="+590" value="MF (+590)">MF (+590)</option>
<option id="Saint Pierre and Miquelon" data-display="+508" value="PM (+508)">PM (+508)</option>
<option id="Saint Vincent and the Grenadines" data-display="+1784" value="VC (+1784)">VC (+1784)</option>
<option id="Samoa" data-display="+685" value="WS (+685)">WS (+685)</option>
<option id="San Marino" data-display="+378" value="SM (+378)">SM (+378)</option>
<option id="Sao Tome and Principe" data-display="+239" value="ST (+239)">ST (+239)</option>
<option id="Saudi Arabia" data-display="+966" value="SA (+966)">SA (+966)</option>
<option id="Senegal" data-display="+221" value="SN (+221)">SN (+221)</option>
<option id="Serbia" data-display="+381" value="RS (+381)">RS (+381)</option>
<option id="Seychelles" data-display="+248" value="SC (+248)">SC (+248)</option>
<option id="Sierra Leone" data-display="+232" value="SL (+232)">SL (+232)</option>
<option id="Singapore" data-display="+65" value="SG (+65)">SG (+65)</option>
<option id="Slovakia" data-display="+421" value="SK (+421)">SK (+421)</option>
<option id="Slovenia" data-display="+386" value="SI (+386)">SI (+386)</option>
<option id="Solomon Islands" data-display="+677" value="SB (+677)">SB (+677)</option>
<option id="Somalia" data-display="+252" value="SO (+252)">SO (+252)</option>
<option id="South Africa" data-display="+27" value="ZA (+27)">ZA (+27)</option>
<option id="South Sudan" data-display="+211" value="SS (+211)">SS (+211)</option>
<option id="South Georgia and the South Sandwich Islands" data-display="+500" value="GS (+500)">GS (+500)</option>
<option id="Spain" data-display="+34" value="ES (+34)">ES (+34)</option>
<option id="Sri Lanka" data-display="+94" value="LK (+94)">LK (+94)</option>
<option id="Sudan" data-display="+249" value="SD (+249)">SD (+249)</option>
<option id="Suriname" data-display="+597" value="SR (+597)">SR (+597)</option>
<option id="Svalbard and Jan Mayen" data-display="+47" value="SJ (+47)">SJ (+47)</option>
<option id="Swaziland" data-display="+268" value="SZ (+268)">SZ (+268)</option>
<option id="Sweden" data-display="+46" value="SE (+46)">SE (+46)</option>
<option id="Switzerland" data-display="+41" value="CH (+41)">CH (+41)</option>
<option id="Syrian Arab Republic" data-display="+963" value="SY (+963)">SY (+963)</option>
<option id="Taiwan" data-display="+886" value="TW (+886)">TW (+886)</option>
<option id="Tajikistan" data-display="+992" value="TJ (+992)">TJ (+992)</option>
<option id="Tanzania, United Republic of Tanzania" data-display="+255" value="TZ (+255)">TZ (+255)</option>
<option id="Thailand" data-display="+66" value="TH (+66)">TH (+66)</option>
<option id="Timor-Leste" data-display="+670" value="TL (+670)">TL (+670)</option>
<option id="Togo" data-display="+228" value="TG (+228)">TG (+228)</option>
<option id="Tokelau" data-display="+690" value="TK (+690)">TK (+690)</option>
<option id="Tonga" data-display="+676" value="TO (+676)">TO (+676)</option>
<option id="Trinidad and Tobago" data-display="+1868" value="TT (+1868)">TT (+1868)</option>
<option id="Tunisia" data-display="+216" value="TN (+216)">TN (+216)</option>
<option id="Turkey" data-display="+90" value="TR (+90)">TR (+90)</option>
<option id="Turkmenistan" data-display="+993" value="TM (+993)">TM (+993)</option>
<option id="Turks and Caicos Islands" data-display="+1649" value="TC (+1649)">TC (+1649)</option>
<option id="Tuvalu" data-display="+688" value="TV (+688)">TV (+688)</option>
<option id="Uganda" data-display="+256" value="UG (+256)">UG (+256)</option>
<option id="Ukraine" data-display="+380" value="UA (+380)">UA (+380)</option>
<option id="United Arab Emirates" data-display="+971" value="AE (+971)">AE (+971)</option>
<option id="United Kingdom" data-display="+44" value="GB (+44)">GB (+44)</option>
<option id="United States" data-display="+1" value="US (+1)">US (+1)</option>
<option id="Uruguay" data-display="+598" value="UY (+598)">UY (+598)</option>
<option id="Uzbekistan" data-display="+998" value="UZ (+998)">UZ (+998)</option>
<option id="Vanuatu" data-display="+678" value="VU (+678)">VU (+678)</option>
<option id="Venezuela, Bolivarian Republic of Venezuela" data-display="+58" value="VE (+58)">VE (+58)</option>
<option id="Vietnam" data-display="+84" value="VN (+84)">VN (+84)</option>
<option id="Virgin Islands, British" data-display="+1284" value="VG (+1284)">VG (+1284)</option>
<option id="Virgin Islands, U.S." data-display="+1340" value="VI (+1340)">VI (+1340)</option>
<option id="Wallis and Futuna" data-display="+681" value="WF (+681)">WF (+681)</option>
<option id="Yemen" data-display="+967" value="YE (+967)">YE (+967)</option>
<option id="Zambia" data-display="+260" value="ZM (+260)">ZM (+260)</option>
<option id="Zimbabwe" data-display="+263" value="ZW (+263)">ZW (+263)</option>
{% endif %}
{% endmacro %}