{% include "side-bar.html" %}
<main style="margin-left: 80px;">
    <nav class="navbar main-nav-container" id="navbar">
        <div class="container-fluid">
            <div class="research-lab">
                Cafe Research Lab
            </div>
            {% if success == 1 %}
            <a class="button-wrapper" href="{{ url_for('add_cafe')}}" style="cursor: default;">
                <button class="button-contribute" type="submit" name="contribute" value="contribute" disabled>Submitted!</button>
            </a>
            {% else %}
            <div class="research-lab">
                Welcome Cafe-thusiast
            </div>
            <a id="fake-submit" class="button-wrapper">
                <button class="button-contribute" name="submit" value="submit" onclick="document.getElementById('real-submit').click();textContent='Submitting...'">Let's Submit</button>
            </a>
            {% endif %}
        </div>
    </nav>
    {% if success == 1 %}
    <script>
        var count = 10;
        var redirect = "{{ url_for('get_all_cafes')}}";

        function countDown() {
          var timer = document.getElementById("timer");
          if (count > 0) {
            count--;
            timer.innerHTML = "Redirecting to main page in " + count + " seconds.";
            setTimeout("countDown()", 1000);
          } else {
            window.location.href = redirect;
          }
        }
    </script>
    <div class='content-div show-border'>
        <div class="success-msg d-flex justify-content-evenly" style="font-family: 'Reddit Mono', monospace;font-size: 25px;">Cafe added successfully!</div>
        <div class="success-msg d-flex justify-content-evenly" style='font-size: 40px; font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; margin-bottom: 20px;'>Thank you for your contribution <3</div>
        <div class="row gx-1 d-flex justify-content-evenly sortable-list">
            <div class="card cafe-card item" style="height:50vh; width: 50vh;" draggable="true">
                <div class="error-img-container d-flex">
                    <img class='error-image' src="{{ url_for('static', filename='/'.join(['assets', 'success-img', 'cup.png'])) }}" alt="...">
                </div>
            </div>
            <div class="card cafe-card item" style="height:50vh; width: 50vh;" draggable="true">
                <div class="error-img-container d-flex" draggable="false">
                    <img draggable="false" class='error-image' src="{{ url_for('static', filename='/'.join(['assets', 'success-img', 'check.png'])) }}" alt="...">
                </div>
            </div>
            <div class="card cafe-card item" style="height:50vh; width: 50vh;" draggable="true">
                <div class="error-img-container d-flex" draggable="false">
                    <img draggable="false" class='error-image' src="{{ url_for('static', filename='/'.join(['assets', 'success-img', 'wifi.png'])) }}" alt="...">
                </div>
            </div>
        </div>
        <div id="timer" class="success-msg d-flex justify-content-evenly" style="font-family: 'Reddit Mono', monospace;font-size: 25px;">
            <script>
                countDown();
            </script>
        </div>
    </div>
    {% else %}
    <div class='content-div show-border' style="height:100%;">
        <form action="{{ url_for('cafe_added')}}" method="post" enctype="multipart/form-data">
            <div class="d-flex justify-content-evenly main-form">
                <a class="button-wrapper" style="display:none;">
                    <button class="button-contribute" type="submit" name="submit" value="submit" id="real-submit">Let's Submit</button>
                </a>
                <div class="flex-fill form-container-1" style="display: grid;grid-template-columns: 1fr 2fr;grid-gap: 20px; flex-direction: column">

                    <div class="upload-area">
                        <div class="image-area d-flex justify-content-center">
                            <img class='image image-content' src="">
                            <div class="no-image-content">
                                <img src="{{ url_for('static', filename='/'.join(['assets', 'image.png'])) }}" style="width:50px; height:50px">
                            </div>
                        </div>
                        <label for="upload-img" class="upload-button justify-content-evenly" data-bs-toggle='tooltip' data-bs-placement="bottom" title="Supported file format: png, jpeg, jpg">
                            <svg style='width:30px; height:30px' xmlns="http://www.w3.org/2000/svg" version="1.0" width="900.000000pt" height="900.000000pt" viewBox="0 0 900.000000 900.000000" preserveAspectRatio="xMidYMid meet">
                                <g class='plus-icon' transform="translate(0.000000,900.000000) scale(0.100000,-0.100000)" fill="var(--svg-fill)" stroke="none">
                                    <path d="M4380 8986 c0 -8 -14 -18 -32 -22 -85 -18 -215 -134 -257 -229 -41 -92 -40 -62 -41 -1960 0 -1403 -3 -1824 -12 -1833 -9 -9 -430 -12 -1832 -12 -1899 -1 -1869 0 -1961 -41 -98 -44 -204 -164 -233 -265 -15 -53 -15 -215 0 -268 29 -101 135 -221 233 -265 92 -41 62 -40 1961 -41 1402 0 1823 -3 1832 -12 9 -9 12 -430 12 -1833 1 -1898 0 -1868 41 -1960 44 -98 164 -204 265 -233 53 -15 215 -15 268 0 101 29 221 135 265 233 41 92 40 62 41 1960 0 1403 3 1824 12 1833 9 9 430 12 1832 12 1899 1 1869 0 1961 41 95 42 211 172 229 257 4 18 14 32 22 32 11 0 14 22 14 110 0 88 -3 110 -14 110 -8 0 -18 14 -22 32 -18 85 -134 215 -229 257 -92 41 -62 40 -1961 41 -1402 0 -1823 3 -1832 12 -9 9 -12 430 -12 1833 -1 1898 0 1868 -41 1960 -42 95 -172 211 -257 229 -18 4 -32 14 -32 22 0 11 -22 14 -110 14 -88 0 -110 -3 -110 -14z"/>
                                </g>
                            </svg>Upload Cafe Image
                        </label>

                        <input id="upload-img" type="file" accept=".png, .jpg, .jpeg" name="img-file" required>
                        <a class="reset-button justify-content-evenly"><svg style='width:29px; height:29px'  xmlns="http://www.w3.org/2000/svg" version="1.0" width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000" preserveAspectRatio="xMidYMid meet">
                            <g class='reset-icon' transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)" fill="var(--svg-fill)" stroke="none">
                                <path d="M135 2988 c-108 -39 -161 -154 -120 -256 11 -26 198 -219 613 -634 l597 -598 -597 -597 c-414 -415 -602 -609 -613 -635 -33 -80 -5 -174 68 -232 48 -38 135 -48 188 -21 19 9 303 285 632 613 l597 597 598 -597 c328 -328 612 -604 631 -613 53 -27 140 -17 188 21 73 58 101 152 68 232 -11 26 -199 220 -613 635 l-597 597 602 603 c484 485 603 609 613 641 48 150 -101 295 -248 241 -40 -15 -130 -100 -645 -614 l-597 -596 -593 592 c-325 325 -607 598 -624 607 -43 22 -111 28 -148 14z"/>
                            </g>
                        </svg>Clear Image
                        </a>
                        {% with errors = get_flashed_messages(category_filter=["file_type_error"]) %}
                        {% if errors %}
                        <ul class=flashes style="margin:0; padding:0 0;">
                            {% for message in errors %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="upload-area" style="cursor: default;">
                        {% with errors = get_flashed_messages(category_filter=["already_exist_error"]) %}
                        {% if errors %}
                        <div class="alert" style="margin:0; padding:0 0;">
                            {% for msg in errors %}
                            {{ msg }}
                            {% endfor -%}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <input class="form-field" type="text" placeholder="Name of cafe" name="cafe-name" required>
                        <input class="form-field" type="text" placeholder="Located City" name="location" required>
                        <input class="form-field" type="url" placeholder="Google Maps Link" name="map-link" required>
                        <div style="display: flex; box-sizing: border-box; min-height: 50px; width: 100%; outline: none; margin-top:10px; margin-bottom:10px;">
                            <div class="d-flex" style="margin-right:10px">
                                <select name="currency" id="currency" class="dropdown">
                                    <option value="£">£</option>
                                    <option value="$">$</option>
                                    <option value="MMK">MMK</option>
                                </select>
                                <input id="coffee-price-form" type="search" placeholder="Coffee price" name="coffee-price" required onfocus="placeholder='00.00'" onfocusout="placeholder='Coffee-price'">
                            </div>
                            <div class="range-container">
                                <div class="slider-value" style="margin-bottom: 5px;">
                                    <input name="min-seats" id="title-min" class="slider-value-title" readonly  value="0 <" style="background-color: transparent;border: 0; width: 50px; cursor: default;">
                                    <span style="color:  #808080;" class="slider-value-title">
                                        Seats
                                    </span>
                                    <input name="max-seats" id="title-max" class="slider-value-title" readonly  value="< 40" style="background-color: transparent;border: 0; width: 50px; cursor: default;">
                                </div>
                                <div class="double-slider">
                                    <div class="double-slider-body">
                                        <div class="double-slider-track">
                                            <div id='slider-range' class="double-slider-range"></div>
                                            <div id="dot-left" class="double-slider-dot double-slider-dot-left"></div>
                                            <div id="dot-right" class="double-slider-dot double-slider-dot-right"></div>
                                        </div>
                                        <input id='input-left' type="range" min="0" max="50" value="0" class="double-slider-input">
                                        <input id='input-right' type="range" min="0" max="50" value="40" class="double-slider-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-fill form-container-2">
                    <div style="padding: 10px 0">
                        <label class="form-control form-control-hover" style="margin-bottom: 20px;">
                            <input type="checkbox" name="has-wifi" />
                            Has Wi-Fi
                        </label>
                        <label class="form-control form-control-hover" style="margin-bottom: 20px;">
                            <input type="checkbox" name="has-sockets" />
                            Has Sockets
                        </label>
                        <label class="form-control form-control-hover" style="margin-bottom: 20px;">
                            <input type="checkbox" name="has-toilet" />
                            Has toilet
                        </label>
                        <div class="form-control-hover can-take-calls">
                            <label class="form-control" style="border-top:0px; border-left:0px; border-right:0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                                <input class="call-checkbox" type="checkbox" name="can-take-calls" />
                                Can take calls
                            </label>
                            <div class="d-flex" style="background-color: transparent">
                                <select class="phone-codes-dropdown" id="phone-codes-dropdown" style="border: 0px; border-top-left-radius: 0px;">
                                    <option data-display="+93" value="Afghanistan (+93)">Afghanistan(+93)</option>
                                    <option data-display="+358" value="Aland Islands (+358)">Aland Islands(+358)</option>
                                    <option data-display="+355" value="Albania (+355)">Albania(+355)</option>
                                    <option data-display="+213" value="Algeria (+213)">Algeria(+213)</option>
                                    <option data-display="+1684" value="AmericanSamoa (+1684)">AmericanSamoa(+1684)</option>
                                    <option data-display="+376" value="Andorra (+376)">Andorra(+376)</option>
                                    <option data-display="+244" value="Angola (+244)">Angola(+244)</option>
                                    <option data-display="+1264" value="Anguilla (+1264)">Anguilla(+1264)</option>
                                    <option data-display="+672" value="Antarctica (+672)">Antarctica(+672)</option>
                                    <option data-display="+1268" value="Antigua and Barbuda (+1268)">Antigua and Barbuda(+1268)</option>
                                    <option data-display="+54" value="Argentina (+54)">Argentina(+54)</option>
                                    <option data-display="+374" value="Armenia (+374)">Armenia(+374)</option>
                                    <option data-display="+297" value="Aruba (+297)">Aruba(+297)</option>
                                    <option data-display="+61" value="Australia (+61)">Australia(+61)</option>
                                    <option data-display="+43" value="Austria (+43)">Austria(+43)</option>
                                    <option data-display="+994" value="Azerbaijan (+994)">Azerbaijan(+994)</option>
                                    <option data-display="+1242" value="Bahamas (+1242)">Bahamas(+1242)</option>
                                    <option data-display="+973" value="Bahrain (+973)">Bahrain(+973)</option>
                                    <option data-display="+880" value="Bangladesh (+880)">Bangladesh(+880)</option>
                                    <option data-display="+1246" value="Barbados (+1246)">Barbados(+1246)</option>
                                    <option data-display="+375" value="Belarus (+375)">Belarus(+375)</option>
                                    <option data-display="+32" value="Belgium (+32)">Belgium(+32)</option>
                                    <option data-display="+501" value="Belize (+501)">Belize(+501)</option>
                                    <option data-display="+229" value="Benin (+229)">Benin(+229)</option>
                                    <option data-display="+1441" value="Bermuda (+1441)">Bermuda(+1441)</option>
                                    <option data-display="+975" value="Bhutan (+975)">Bhutan(+975)</option>
                                    <option data-display="+591" value="Bolivia, Plurinational State of (+591)">Bolivia, Plurinational State of(+591)</option>
                                    <option data-display="+387" value="Bosnia and Herzegovina (+387)">Bosnia and Herzegovina(+387)</option>
                                    <option data-display="+267" value="Botswana (+267)">Botswana(+267)</option>
                                    <option data-display="+55" value="Brazil (+55)">Brazil(+55)</option>
                                    <option data-display="+246" value="British Indian Ocean Territory (+246)">British Indian Ocean Territory(+246)</option>
                                    <option data-display="+673" value="Brunei Darussalam (+673)">Brunei Darussalam(+673)</option>
                                    <option data-display="+359" value="Bulgaria (+359)">Bulgaria(+359)</option>
                                    <option data-display="+226" value="Burkina Faso (+226)">Burkina Faso(+226)</option>
                                    <option data-display="+257" value="Burundi (+257)">Burundi(+257)</option>
                                    <option data-display="+855" value="Cambodia (+855)">Cambodia(+855)</option>
                                    <option data-display="+237" value="Cameroon (+237)">Cameroon(+237)</option>
                                    <option data-display="+1" value="Canada (+1)">Canada(+1)</option>
                                    <option data-display="+238" value="Cape Verde (+238)">Cape Verde(+238)</option>
                                    <option data-display="+ 345" value="Cayman Islands (+ 345)">Cayman Islands(+ 345)</option>
                                    <option data-display="+236" value="Central African Republic (+236)">Central African Republic(+236)</option>
                                    <option data-display="+235" value="Chad (+235)">Chad(+235)</option>
                                    <option data-display="+56" value="Chile (+56)">Chile(+56)</option>
                                    <option data-display="+86" value="China (+86)">China(+86)</option>
                                    <option data-display="+61" value="Christmas Island (+61)">Christmas Island(+61)</option>
                                    <option data-display="+61" value="Cocos (Keeling) Islands (+61)">Cocos (Keeling) Islands(+61)</option>
                                    <option data-display="+57" value="Colombia (+57)">Colombia(+57)</option>
                                    <option data-display="+269" value="Comoros (+269)">Comoros(+269)</option>
                                    <option data-display="+242" value="Congo (+242)">Congo(+242)</option>
                                    <option data-display="+243" value="Congo, The Democratic Republic of the Congo (+243)">Congo, The Democratic Republic of the Congo(+243)</option>
                                    <option data-display="+682" value="Cook Islands (+682)">Cook Islands(+682)</option>
                                    <option data-display="+506" value="Costa Rica (+506)">Costa Rica(+506)</option>
                                    <option data-display="+225" value="Cote d'Ivoire (+225)">Cote d'Ivoire(+225)</option>
                                    <option data-display="+385" value="Croatia (+385)">Croatia(+385)</option>
                                    <option data-display="+53" value="Cuba (+53)">Cuba(+53)</option>
                                    <option data-display="+357" value="Cyprus (+357)">Cyprus(+357)</option>
                                    <option data-display="+420" value="Czech Republic (+420)">Czech Republic(+420)</option>
                                    <option data-display="+45" value="Denmark (+45)">Denmark(+45)</option>
                                    <option data-display="+253" value="Djibouti (+253)">Djibouti(+253)</option>
                                    <option data-display="+1767" value="Dominica (+1767)">Dominica(+1767)</option>
                                    <option data-display="+1849" value="Dominican Republic (+1849)">Dominican Republic(+1849)</option>
                                    <option data-display="+593" value="Ecuador (+593)">Ecuador(+593)</option>
                                    <option data-display="+20" value="Egypt (+20)">Egypt(+20)</option>
                                    <option data-display="+503" value="El Salvador (+503)">El Salvador(+503)</option>
                                    <option data-display="+240" value="Equatorial Guinea (+240)">Equatorial Guinea(+240)</option>
                                    <option data-display="+291" value="Eritrea (+291)">Eritrea(+291)</option>
                                    <option data-display="+372" value="Estonia (+372)">Estonia(+372)</option>
                                    <option data-display="+251" value="Ethiopia (+251)">Ethiopia(+251)</option>
                                    <option data-display="+500" value="Falkland Islands (Malvinas) (+500)">Falkland Islands (Malvinas)(+500)</option>
                                    <option data-display="+298" value="Faroe Islands (+298)">Faroe Islands(+298)</option>
                                    <option data-display="+679" value="Fiji (+679)">Fiji(+679)</option>
                                    <option data-display="+358" value="Finland (+358)">Finland(+358)</option>
                                    <option data-display="+33" value="France (+33)">France(+33)</option>
                                    <option data-display="+594" value="French Guiana (+594)">French Guiana(+594)</option>
                                    <option data-display="+689" value="French Polynesia (+689)">French Polynesia(+689)</option>
                                    <option data-display="+241" value="Gabon (+241)">Gabon(+241)</option>
                                    <option data-display="+220" value="Gambia (+220)">Gambia(+220)</option>
                                    <option data-display="+995" value="Georgia (+995)">Georgia(+995)</option>
                                    <option data-display="+49" value="Germany (+49)">Germany(+49)</option>
                                    <option data-display="+233" value="Ghana (+233)">Ghana(+233)</option>
                                    <option data-display="+350" value="Gibraltar (+350)">Gibraltar(+350)</option>
                                    <option data-display="+30" value="Greece (+30)">Greece(+30)</option>
                                    <option data-display="+299" value="Greenland (+299)">Greenland(+299)</option>
                                    <option data-display="+1473" value="Grenada (+1473)">Grenada(+1473)</option>
                                    <option data-display="+590" value="Guadeloupe (+590)">Guadeloupe(+590)</option>
                                    <option data-display="+1671" value="Guam (+1671)">Guam(+1671)</option>
                                    <option data-display="+502" value="Guatemala (+502)">Guatemala(+502)</option>
                                    <option data-display="+44" value="Guernsey (+44)">Guernsey(+44)</option>
                                    <option data-display="+224" value="Guinea (+224)">Guinea(+224)</option>
                                    <option data-display="+245" value="Guinea-Bissau (+245)">Guinea-Bissau(+245)</option>
                                    <option data-display="+595" value="Guyana (+595)">Guyana(+595)</option>
                                    <option data-display="+509" value="Haiti (+509)">Haiti(+509)</option>
                                    <option data-display="+379" value="Holy See (Vatican City State) (+379)">Holy See (Vatican City State)(+379)</option>
                                    <option data-display="+504" value="Honduras (+504)">Honduras(+504)</option>
                                    <option data-display="+852" value="Hong Kong (+852)">Hong Kong(+852)</option>
                                    <option data-display="+36" value="Hungary (+36)">Hungary(+36)</option>
                                    <option data-display="+354" value="Iceland (+354)">Iceland(+354)</option>
                                    <option data-display="+91" value="India (+91)">India(+91)</option>
                                    <option data-display="+62" value="Indonesia (+62)">Indonesia(+62)</option>
                                    <option data-display="+98" value="Iran, Islamic Republic of Persian Gulf (+98)">Iran, Islamic Republic of Persian Gulf(+98)</option>
                                    <option data-display="+964" value="Iraq (+964)">Iraq(+964)</option>
                                    <option data-display="+353" value="Ireland (+353)">Ireland(+353)</option>
                                    <option data-display="+44" value="Isle of Man (+44)">Isle of Man(+44)</option>
                                    <option data-display="+972" value="Israel (+972)">Israel(+972)</option>
                                    <option data-display="+39" value="Italy (+39)">Italy(+39)</option>
                                    <option data-display="+1876" value="Jamaica (+1876)">Jamaica(+1876)</option>
                                    <option data-display="+81" value="Japan (+81)">Japan(+81)</option>
                                    <option data-display="+44" value="Jersey (+44)">Jersey(+44)</option>
                                    <option data-display="+962" value="Jordan (+962)">Jordan(+962)</option>
                                    <option data-display="+77" value="Kazakhstan (+77)">Kazakhstan(+77)</option>
                                    <option data-display="+254" value="Kenya (+254)">Kenya(+254)</option>
                                    <option data-display="+686" value="Kiribati (+686)">Kiribati(+686)</option>
                                    <option data-display="+850" value="Korea, Democratic People's Republic of Korea (+850)">Korea, Democratic People's Republic of Korea(+850)</option>
                                    <option data-display="+82" value="Korea, Republic of South Korea (+82)">Korea, Republic of South Korea(+82)</option>
                                    <option data-display="+965" value="Kuwait (+965)">Kuwait(+965)</option>
                                    <option data-display="+996" value="Kyrgyzstan (+996)">Kyrgyzstan(+996)</option>
                                    <option data-display="+856" value="Laos (+856)">Laos(+856)</option>
                                    <option data-display="+371" value="Latvia (+371)">Latvia(+371)</option>
                                    <option data-display="+961" value="Lebanon (+961)">Lebanon(+961)</option>
                                    <option data-display="+266" value="Lesotho (+266)">Lesotho(+266)</option>
                                    <option data-display="+231" value="Liberia (+231)">Liberia(+231)</option>
                                    <option data-display="+218" value="Libyan Arab Jamahiriya (+218)">Libyan Arab Jamahiriya(+218)</option>
                                    <option data-display="+423" value="Liechtenstein (+423)">Liechtenstein(+423)</option>
                                    <option data-display="+370" value="Lithuania (+370)">Lithuania(+370)</option>
                                    <option data-display="+352" value="Luxembourg (+352)">Luxembourg(+352)</option>
                                    <option data-display="+853" value="Macao (+853)">Macao(+853)</option>
                                    <option data-display="+389" value="Macedonia (+389)">Macedonia(+389)</option>
                                    <option data-display="+261" value="Madagascar (+261)">Madagascar(+261)</option>
                                    <option data-display="+265" value="Malawi (+265)">Malawi(+265)</option>
                                    <option data-display="+60" value="Malaysia (+60)">Malaysia(+60)</option>
                                    <option data-display="+960" value="Maldives (+960)">Maldives(+960)</option>
                                    <option data-display="+223" value="Mali (+223)">Mali(+223)</option>
                                    <option data-display="+356" value="Malta (+356)">Malta(+356)</option>
                                    <option data-display="+692" value="Marshall Islands (+692)">Marshall Islands(+692)</option>
                                    <option data-display="+596" value="Martinique (+596)">Martinique(+596)</option>
                                    <option data-display="+222" value="Mauritania (+222)">Mauritania(+222)</option>
                                    <option data-display="+230" value="Mauritius (+230)">Mauritius(+230)</option>
                                    <option data-display="+262" value="Mayotte (+262)">Mayotte(+262)</option>
                                    <option data-display="+52" value="Mexico (+52)">Mexico(+52)</option>
                                    <option data-display="+691" value="Micronesia, Federated States of Micronesia (+691)">Micronesia, Federated States of Micronesia(+691)</option>
                                    <option data-display="+373" value="Moldova (+373)">Moldova(+373)</option>
                                    <option data-display="+377" value="Monaco (+377)">Monaco(+377)</option>
                                    <option data-display="+976" value="Mongolia (+976)">Mongolia(+976)</option>
                                    <option data-display="+382" value="Montenegro (+382)">Montenegro(+382)</option>
                                    <option data-display="+1664" value="Montserrat (+1664)">Montserrat(+1664)</option>
                                    <option data-display="+212" value="Morocco (+212)">Morocco(+212)</option>
                                    <option data-display="+258" value="Mozambique (+258)">Mozambique(+258)</option>
                                    <option data-display="+95" value="Myanmar (+95)">Myanmar(+95)</option>
                                    <option data-display="+264" value="Namibia (+264)">Namibia(+264)</option>
                                    <option data-display="+674" value="Nauru (+674)">Nauru(+674)</option>
                                    <option data-display="+977" value="Nepal (+977)">Nepal(+977)</option>
                                    <option data-display="+31" value="Netherlands (+31)">Netherlands(+31)</option>
                                    <option data-display="+599" value="Netherlands Antilles (+599)">Netherlands Antilles(+599)</option>
                                    <option data-display="+687" value="New Caledonia (+687)">New Caledonia(+687)</option>
                                    <option data-display="+64" value="New Zealand (+64)">New Zealand(+64)</option>
                                    <option data-display="+505" value="Nicaragua (+505)">Nicaragua(+505)</option>
                                    <option data-display="+227" value="Niger (+227)">Niger(+227)</option>
                                    <option data-display="+234" value="Nigeria (+234)">Nigeria(+234)</option>
                                    <option data-display="+683" value="Niue (+683)">Niue(+683)</option>
                                    <option data-display="+672" value="Norfolk Island (+672)">Norfolk Island(+672)</option>
                                    <option data-display="+1670" value="Northern Mariana Islands (+1670)">Northern Mariana Islands(+1670)</option>
                                    <option data-display="+47" value="Norway (+47)">Norway(+47)</option>
                                    <option data-display="+968" value="Oman (+968)">Oman(+968)</option>
                                    <option data-display="+92" value="Pakistan (+92)">Pakistan(+92)</option>
                                    <option data-display="+680" value="Palau (+680)">Palau(+680)</option>
                                    <option data-display="+970" value="Palestinian Territory, Occupied (+970)">Palestinian Territory, Occupied(+970)</option>
                                    <option data-display="+507" value="Panama (+507)">Panama(+507)</option>
                                    <option data-display="+675" value="Papua New Guinea (+675)">Papua New Guinea(+675)</option>
                                    <option data-display="+595" value="Paraguay (+595)">Paraguay(+595)</option>
                                    <option data-display="+51" value="Peru (+51)">Peru(+51)</option>
                                    <option data-display="+63" value="Philippines (+63)">Philippines(+63)</option>
                                    <option data-display="+872" value="Pitcairn (+872)">Pitcairn(+872)</option>
                                    <option data-display="+48" value="Poland (+48)">Poland(+48)</option>
                                    <option data-display="+351" value="Portugal (+351)">Portugal(+351)</option>
                                    <option data-display="+1939" value="Puerto Rico (+1939)">Puerto Rico(+1939)</option>
                                    <option data-display="+974" value="Qatar (+974)">Qatar(+974)</option>
                                    <option data-display="+40" value="Romania (+40)">Romania(+40)</option>
                                    <option data-display="+7" value="Russia (+7)">Russia(+7)</option>
                                    <option data-display="+250" value="Rwanda (+250)">Rwanda(+250)</option>
                                    <option data-display="+262" value="Reunion (+262)">Reunion(+262)</option>
                                    <option data-display="+590" value="Saint Barthelemy (+590)">Saint Barthelemy(+590)</option>
                                    <option data-display="+290" value="Saint Helena, Ascension and Tristan Da Cunha (+290)">Saint Helena, Ascension and Tristan Da Cunha(+290)</option>
                                    <option data-display="+1869" value="Saint Kitts and Nevis (+1869)">Saint Kitts and Nevis(+1869)</option>
                                    <option data-display="+1758" value="Saint Lucia (+1758)">Saint Lucia(+1758)</option>
                                    <option data-display="+590" value="Saint Martin (+590)">Saint Martin(+590)</option>
                                    <option data-display="+508" value="Saint Pierre and Miquelon (+508)">Saint Pierre and Miquelon(+508)</option>
                                    <option data-display="+1784" value="Saint Vincent and the Grenadines (+1784)">Saint Vincent and the Grenadines(+1784)</option>
                                    <option data-display="+685" value="Samoa (+685)">Samoa(+685)</option>
                                    <option data-display="+378" value="San Marino (+378)">San Marino(+378)</option>
                                    <option data-display="+239" value="Sao Tome and Principe (+239)">Sao Tome and Principe(+239)</option>
                                    <option data-display="+966" value="Saudi Arabia (+966)">Saudi Arabia(+966)</option>
                                    <option data-display="+221" value="Senegal (+221)">Senegal(+221)</option>
                                    <option data-display="+381" value="Serbia (+381)">Serbia(+381)</option>
                                    <option data-display="+248" value="Seychelles (+248)">Seychelles(+248)</option>
                                    <option data-display="+232" value="Sierra Leone (+232)">Sierra Leone(+232)</option>
                                    <option data-display="+65" value="Singapore (+65)">Singapore(+65)</option>
                                    <option data-display="+421" value="Slovakia (+421)">Slovakia(+421)</option>
                                    <option data-display="+386" value="Slovenia (+386)">Slovenia(+386)</option>
                                    <option data-display="+677" value="Solomon Islands (+677)">Solomon Islands(+677)</option>
                                    <option data-display="+252" value="Somalia (+252)">Somalia(+252)</option>
                                    <option data-display="+27" value="South Africa (+27)">South Africa(+27)</option>
                                    <option data-display="+211" value="South Sudan (+211)">South Sudan(+211)</option>
                                    <option data-display="+500" value="South Georgia and the South Sandwich Islands (+500)">South Georgia and the South Sandwich Islands(+500)</option>
                                    <option data-display="+34" value="Spain (+34)">Spain(+34)</option>
                                    <option data-display="+94" value="Sri Lanka (+94)">Sri Lanka(+94)</option>
                                    <option data-display="+249" value="Sudan (+249)">Sudan(+249)</option>
                                    <option data-display="+597" value="Suriname (+597)">Suriname(+597)</option>
                                    <option data-display="+47" value="Svalbard and Jan Mayen (+47)">Svalbard and Jan Mayen(+47)</option>
                                    <option data-display="+268" value="Swaziland (+268)">Swaziland(+268)</option>
                                    <option data-display="+46" value="Sweden (+46)">Sweden(+46)</option>
                                    <option data-display="+41" value="Switzerland (+41)">Switzerland(+41)</option>
                                    <option data-display="+963" value="Syrian Arab Republic (+963)">Syrian Arab Republic(+963)</option>
                                    <option data-display="+886" value="Taiwan (+886)">Taiwan(+886)</option>
                                    <option data-display="+992" value="Tajikistan (+992)">Tajikistan(+992)</option>
                                    <option data-display="+255" value="Tanzania, United Republic of Tanzania (+255)">Tanzania, United Republic of Tanzania(+255)</option>
                                    <option data-display="+66" value="Thailand (+66)">Thailand(+66)</option>
                                    <option data-display="+670" value="Timor-Leste (+670)">Timor-Leste(+670)</option>
                                    <option data-display="+228" value="Togo (+228)">Togo(+228)</option>
                                    <option data-display="+690" value="Tokelau (+690)">Tokelau(+690)</option>
                                    <option data-display="+676" value="Tonga (+676)">Tonga(+676)</option>
                                    <option data-display="+1868" value="Trinidad and Tobago (+1868)">Trinidad and Tobago(+1868)</option>
                                    <option data-display="+216" value="Tunisia (+216)">Tunisia(+216)</option>
                                    <option data-display="+90" value="Turkey (+90)">Turkey(+90)</option>
                                    <option data-display="+993" value="Turkmenistan (+993)">Turkmenistan(+993)</option>
                                    <option data-display="+1649" value="Turks and Caicos Islands (+1649)">Turks and Caicos Islands(+1649)</option>
                                    <option data-display="+688" value="Tuvalu (+688)">Tuvalu(+688)</option>
                                    <option data-display="+256" value="Uganda (+256)">Uganda(+256)</option>
                                    <option data-display="+380" value="Ukraine (+380)">Ukraine(+380)</option>
                                    <option data-display="+971" value="United Arab Emirates (+971)">United Arab Emirates(+971)</option>
                                    <option data-display="+44" value="United Kingdom (+44)">United Kingdom(+44)</option>
                                    <option data-display="+1" value="United States (+1)">United States(+1)</option>
                                    <option data-display="+598" value="Uruguay (+598)">Uruguay(+598)</option>
                                    <option data-display="+998" value="Uzbekistan (+998)">Uzbekistan(+998)</option>
                                    <option data-display="+678" value="Vanuatu (+678)">Vanuatu(+678)</option>
                                    <option data-display="+58" value="Venezuela, Bolivarian Republic of Venezuela (+58)">Venezuela, Bolivarian Republic of Venezuela(+58)</option>
                                    <option data-display="+84" value="Vietnam (+84)">Vietnam(+84)</option>
                                    <option data-display="+1284" value="Virgin Islands, British (+1284)">Virgin Islands, British(+1284)</option>
                                    <option data-display="+1340" value="Virgin Islands, U.S. (+1340)">Virgin Islands, U.S.(+1340)</option>
                                    <option data-display="+681" value="Wallis and Futuna (+681)">Wallis and Futuna(+681)</option>
                                    <option data-display="+967" value="Yemen (+967)">Yemen(+967)</option>
                                    <option data-display="+260" value="Zambia (+260)">Zambia(+260)</option>
                                    <option data-display="+263" value="Zimbabwe (+263)">Zimbabwe(+263)</option>
                                </select>
                                <input class="form-field" style="background-color:transparent; transform: none; box-shadow: none; margin:0px; border: 0px; border-top-right-radius: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; padding: 15px 0px;" type="tel" placeholder="Call No." name="map-link" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex form-container-3">
                <label class="form-field" style="display:grid;  grid-template-columns: 1em auto;  gap: 20px; border: 0; cursor: default;">
                    <input type="checkbox" name="anonymous" id="anonymous"/>
                    Be a mysterious contributor
                </label>
                <span style="margin: auto; padding: 0 40px; font-family: 'Reddit Mono', monospace;font-size: 20px;color: var(--contrast);">
                OR
            </span>
                <input id="contributor-name" class="form-field" style="margin-right: 20px" type="text" placeholder="Your name" name="contributor-name" required>
                <input id="contributor-email" class="form-field" type="email" placeholder="Your email" name="contributor-email" required>
            </div>
        </form>
    </div>
    {% endif %}
</main>
